In [1]:
import pandas as pd

In [2]:
A = pd.read_csv('../../../results/accs_random_removal_mnist.csv', index_col=0)
A = A.T

A.describe().drop(['count'])

            64        32        16        8         4         2         1
mean  0.848527  0.942736  0.961917  0.968121  0.970445  0.971441  0.971984
std   0.041705  0.013024  0.005639  0.003178  0.001986  0.001336  0.000920
min   0.683100  0.886100  0.927000  0.952300  0.960200  0.962400  0.968700
25%   0.821525  0.936400  0.958800  0.966400  0.969400  0.970800  0.971500
50%   0.854600  0.944800  0.962800  0.968500  0.970800  0.971700  0.972100
75%   0.880300  0.952600  0.966000  0.970400  0.971900  0.972400  0.972600
max   0.932800  0.966200  0.972400  0.974900  0.974400  0.974300  0.973600

In [26]:
A[A.columns[::-1]].describe().drop(['count']).round(4).to_latex('../../../latex/tables/accs_random_removal_mnist.tex', bold_rows=True)

In [3]:
A1 = A[A.columns[::-1]].describe().drop(['count']).round(4)

In [27]:
A = pd.read_csv('../../../results/accs_random_removal_improving_mnist.csv', index_col=0)
A = A.T
A.describe()

               8          4          3          2          1
count  20.000000  20.000000  20.000000  20.000000  20.000000
mean    0.972635   0.973300   0.973735   0.974225   0.975070
std     0.000452   0.000771   0.000977   0.000927   0.000643
min     0.972400   0.972300   0.972300   0.972800   0.973900
25%     0.972400   0.972825   0.972900   0.973575   0.974575
50%     0.972400   0.973200   0.973700   0.973900   0.975100
75%     0.972550   0.973725   0.974500   0.974950   0.975600
max     0.973900   0.975000   0.976000   0.976100   0.976200

In [28]:
A[A.columns[::-1]].describe().drop(['count']).round(4).to_latex('../../../latex/tables/accs_random_removal_improving_mnist.tex', bold_rows=True)

In [31]:
A = pd.read_csv('../../../results/accs_random_removal_fmnist.csv', index_col=0)
A = A.T
A.describe()

,64,32,16,8,4,2,1
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.739420,0.829493,0.854300,0.861841,0.865154,0.866732,0.867660
std,0.044278,0.019952,0.009643,0.005855,0.004244,0.002991,0.002112
min,0.549300,0.738200,0.805000,0.840500,0.847000,0.847000,0.857800
25%,0.717075,0.818975,0.849100,0.858200,0.863200,0.865300,0.867000
50%,0.743700,0.833600,0.855800,0.862600,0.865900,0.867400,0.868400
75%,0.769825,0.844100,0.861100,0.866300,0.868100,0.868500,0.868600
max,0.830700,0.865600,0.874700,0.876700,0.874500,0.873500,0.872600

In [30]:
A[A.columns[::-1]].describe().drop(['count']).round(4).to_latex('../../../latex/tables/accs_random_removal_fmnist.tex', bold_rows=True)

In [32]:
A2 = A[A.columns[::-1]].describe().drop(['count']).round(4)

In [31]:
A = pd.read_csv('../../../results/accs_random_removal_improving_fmnist.csv', index_col=0)
A = A.T
A.describe()

               8          4          3          2          1
count  20.000000  20.000000  20.000000  20.000000  20.000000
mean    0.870585   0.873075   0.874295   0.875200   0.874875
std     0.001879   0.001823   0.001822   0.001772   0.002274
min     0.868500   0.870500   0.871800   0.871800   0.870200
25%     0.868500   0.871725   0.872950   0.874250   0.873350
50%     0.870600   0.872700   0.873900   0.875000   0.874600
75%     0.871550   0.874125   0.875775   0.876350   0.877000
max     0.874800   0.876400   0.877500   0.879400   0.878200

In [32]:
A[A.columns[::-1]].describe().drop(['count']).round(4).to_latex('../../../latex/tables/accs_random_removal_improving_fmnist.tex', bold_rows=True)

In [4]:
L = pd.read_csv('../../../results/losses_random_removal_mnist.csv', index_col=0)
L = L.T

L.describe().drop(['count'])

            64        32        16        8         4         2         1
mean  0.446568  0.179376  0.121617  0.102391  0.094847  0.091354  0.089476
std   0.107404  0.036119  0.016426  0.009524  0.005803  0.003836  0.002613
min   0.230566  0.112669  0.090062  0.084443  0.083758  0.083917  0.084770
25%   0.366245  0.151553  0.110106  0.095662  0.090660  0.088709  0.087741
50%   0.431301  0.173848  0.118624  0.101203  0.093718  0.090672  0.088999
75%   0.511249  0.197996  0.130489  0.106858  0.098065  0.093192  0.090758
max   0.988322  0.340889  0.223338  0.148904  0.129176  0.124468  0.099743

In [36]:
L[L.columns[::-1]].describe().drop(['count']).round(4).to_latex('../../../latex/tables/losses_random_removal_mnist.tex', bold_rows=True)

In [5]:
L1 = L[L.columns[::-1]].describe().drop(['count']).round(4)

In [37]:
L = pd.read_csv('../../../results/losses_random_removal_improving_mnist.csv', index_col=0)
L = L.T
L.describe()

               8          4          3          2          1
count  20.000000  20.000000  20.000000  20.000000  20.000000
mean    0.087305   0.085965   0.084898   0.084107   0.081889
std     0.001489   0.002041   0.001461   0.002319   0.001942
min     0.082889   0.081235   0.081726   0.079564   0.077565
25%     0.087862   0.084700   0.084096   0.082943   0.080665
50%     0.087934   0.086520   0.084675   0.084117   0.081291
75%     0.087934   0.086980   0.086087   0.085754   0.083135
max     0.088868   0.089754   0.087224   0.087849   0.085597

In [38]:
L[L.columns[::-1]].describe().drop(['count']).round(4).to_latex('../../../latex/tables/losses_random_removal_improving_mnist.tex', bold_rows=True)

In [33]:
L = pd.read_csv('../../../results/losses_random_removal_fmnist.csv', index_col=0)
L = L.T
L.describe()

,64,32,16,8,4,2,1
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.706201,0.460722,0.393947,0.373015,0.364346,0.360122,0.357810
std,0.118168,0.049531,0.022848,0.013691,0.009820,0.007008,0.004880
min,0.472961,0.372549,0.351513,0.344837,0.343449,0.345162,0.345931
25%,0.623537,0.424450,0.377217,0.362925,0.357621,0.355903,0.355735
50%,0.686746,0.450386,0.389976,0.371131,0.362512,0.358449,0.356431
75%,0.761893,0.485715,0.406018,0.381101,0.369336,0.363180,0.359089
max,1.364899,0.707925,0.510603,0.429679,0.403501,0.405484,0.379082

In [40]:
L[L.columns[::-1]].describe().drop(['count']).round(4).to_latex('../../../latex/tables/losses_random_removal_fmnist.tex', bold_rows=True)

In [34]:
L2 = L[L.columns[::-1]].describe().drop(['count']).round(4)

In [41]:
L = pd.read_csv('../../../results/losses_random_removal_improving_fmnist.csv', index_col=0)
L = L.T
L.describe()

               8          4          3          2          1
count  20.000000  20.000000  20.000000  20.000000  20.000000
mean    0.352263   0.346888   0.344741   0.344445   0.343323
std     0.002992   0.003630   0.003713   0.003941   0.003447
min     0.347569   0.340290   0.337891   0.335182   0.338291
25%     0.349627   0.344326   0.341571   0.342375   0.341254
50%     0.352323   0.346583   0.344369   0.344093   0.342546
75%     0.355735   0.349196   0.347719   0.346062   0.344211
max     0.355735   0.355291   0.351043   0.351513   0.350519

In [42]:
L[L.columns[::-1]].describe().drop(['count']).round(4).to_latex('../../../latex/tables/losses_random_removal_improving_fmnist.tex', bold_rows=True)

In [43]:
NR = pd.read_csv('../../../results/number_nodes_removed_random_removal_improving_mnist.csv', index_col=0)
NR = NR.T
NR.describe()

               8          4          3          2          1
count  20.000000  20.000000  20.000000  20.000000  20.000000
mean    2.400000   5.800000   8.250000   8.900000   7.400000
std     3.761299   3.302312   2.731396   2.789076   1.698296
min     0.000000   0.000000   3.000000   4.000000   5.000000
25%     0.000000   4.000000   6.000000   7.500000   6.000000
50%     0.000000   4.000000   9.000000   8.000000   7.000000
75%     8.000000   8.000000   9.750000  10.000000   8.250000
max     8.000000  12.000000  12.000000  16.000000  11.000000

In [44]:
NR[NR.columns[::-1]].describe().drop(['count']).round(4).to_latex('../../../latex/tables/number_nodes_removed_random_removal_improving_mnist.tex', bold_rows=True)

In [45]:
NR = pd.read_csv('../../../results/number_nodes_removed_random_removal_improving_fmnist.csv', index_col=0)
NR = NR.T
NR.describe()

               8          4          3          2          1
count  20.000000  20.000000  20.000000  20.000000  20.000000
mean    5.600000   8.400000  10.650000   8.600000   5.500000
std     3.761299   3.408967   3.150188   1.846761   1.572795
min     0.000000   4.000000   3.000000   6.000000   2.000000
25%     0.000000   7.000000   9.000000   8.000000   5.000000
50%     8.000000   8.000000  12.000000   8.000000   5.500000
75%     8.000000  12.000000  12.000000  10.000000   6.250000
max     8.000000  16.000000  18.000000  12.000000   8.000000

In [46]:
NR[NR.columns[::-1]].describe().drop(['count']).round(4).to_latex('../../../latex/tables/number_nodes_removed_random_removal_improving_fmnist.tex', bold_rows=True)

In [50]:
NI = pd.read_csv('../../../results/single_layer_node_importance_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/single_layer_node_importance_mnist.tex', bold_rows=True)

In [49]:
NI.describe().drop(['count']).round(2)

      Zero Nodes  Worse Nodes  Important Nodes
mean        2.26        13.86           111.88
std         1.43         6.00             5.90
min         0.00         4.00           100.00
25%         1.00         9.00           107.25
50%         2.50        13.00           112.00
75%         3.00        18.00           116.75
max         5.00        27.00           123.00

In [51]:
NI = pd.read_csv('../../../results/single_layer_node_importance_fmnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/single_layer_node_importance_fmnist.tex', bold_rows=True)

In [52]:
NI.describe().drop(['count']).round(2)

      Zero Nodes  Worse Nodes  Important Nodes
mean       13.96        20.92            93.12
std         3.36         6.50             7.02
min         5.00         8.00            80.00
25%        12.00        16.00            89.00
50%        14.00        19.50            92.00
75%        16.00        25.75            97.75
max        24.00        36.00           115.00

In [53]:
NI = pd.read_csv('../../../results/single_layer_node_importance_val_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/single_layer_node_importance_val_mnist.tex', bold_rows=True)

In [54]:
NI.describe().drop(['count']).round(2)

      Zero Nodes  Worse Nodes  Important Nodes
mean        2.12        24.64           101.24
std         1.60         6.47             6.20
min         0.00        11.00            86.00
25%         1.00        19.00            96.25
50%         2.00        24.00           102.00
75%         3.00        29.75           105.00
max         5.00        39.00           112.00

In [55]:
NI = pd.read_csv('../../../results/single_layer_node_importance_val_fmnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/single_layer_node_importance_val_fmnist.tex', bold_rows=True)

In [56]:
NI.describe().drop(['count']).round(2)

      Zero Nodes  Worse Nodes  Important Nodes
mean       15.32        27.54            85.14
std         3.04         6.79             6.46
min        10.00        14.00            71.00
25%        13.00        22.25            80.50
50%        15.00        26.50            86.00
75%        18.00        32.75            90.75
max        21.00        41.00            97.00

In [57]:
NI = pd.read_csv('../../../results/multi_layer_1_node_importance_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/multi_layer_1_node_importance_mnist.tex', bold_rows=True)

In [58]:
NI = pd.read_csv('../../../results/multi_layer_2_node_importance_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/multi_layer_2_node_importance_mnist.tex', bold_rows=True)

In [59]:
NI = pd.read_csv('../../../results/multi_layer_3_node_importance_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/multi_layer_3_node_importance_mnist.tex', bold_rows=True)

In [60]:
NI = pd.read_csv('../../../results/multi_layer_1_node_importance_fmnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/multi_layer_1_node_importance_fmnist.tex', bold_rows=True)

In [61]:
NI = pd.read_csv('../../../results/multi_layer_2_node_importance_fmnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/multi_layer_2_node_importance_fmnist.tex', bold_rows=True)

In [62]:
NI = pd.read_csv('../../../results/multi_layer_3_node_importance_fmnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/multi_layer_3_node_importance_fmnist.tex', bold_rows=True)

In [63]:
NI = pd.read_csv('../../../results/multi_layer_1_node_importance_val_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/multi_layer_1_node_importance_val_mnist.tex', bold_rows=True)

In [64]:
NI = pd.read_csv('../../../results/multi_layer_2_node_importance_val_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/multi_layer_2_node_importance_val_mnist.tex', bold_rows=True)

In [65]:
NI = pd.read_csv('../../../results/multi_layer_3_node_importance_val_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/multi_layer_3_node_importance_val_mnist.tex', bold_rows=True)

In [66]:
NI = pd.read_csv('../../../results/multi_layer_1_node_importance_val_fmnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/multi_layer_1_node_importance_val_fmnist.tex', bold_rows=True)

In [67]:
NI = pd.read_csv('../../../results/multi_layer_2_node_importance_val_fmnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/multi_layer_2_node_importance_val_fmnist.tex', bold_rows=True)

In [68]:
NI = pd.read_csv('../../../results/multi_layer_3_node_importance_val_fmnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/multi_layer_3_node_importance_val_fmnist.tex', bold_rows=True)

In [69]:
NI = pd.read_csv('../../../results/CNN_dense_node_importance_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_dense_node_importance_mnist.tex', bold_rows=True)

In [70]:
NI = pd.read_csv('../../../results/CNN_conv_1_node_importance_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_1_node_importance_mnist.tex', bold_rows=True)

In [71]:
NI = pd.read_csv('../../../results/CNN_conv_2_node_importance_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_2_node_importance_mnist.tex', bold_rows=True)

In [72]:
NI = pd.read_csv('../../../results/CNN_conv_3_node_importance_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_3_node_importance_mnist.tex', bold_rows=True)

In [73]:
NI = pd.read_csv('../../../results/CNN_conv_4_node_importance_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_4_node_importance_mnist.tex', bold_rows=True)

In [74]:
NI = pd.read_csv('../../../results/CNN_dense_node_importance_fmnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_dense_node_importance_fmnist.tex', bold_rows=True)

In [75]:
NI = pd.read_csv('../../../results/CNN_conv_1_node_importance_fmnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_1_node_importance_fmnist.tex', bold_rows=True)

In [76]:
NI = pd.read_csv('../../../results/CNN_conv_2_node_importance_fmnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_2_node_importance_fmnist.tex', bold_rows=True)

In [77]:
NI = pd.read_csv('../../../results/CNN_conv_3_node_importance_fmnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_3_node_importance_fmnist.tex', bold_rows=True)

In [78]:
NI = pd.read_csv('../../../results/CNN_conv_4_node_importance_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_4_node_importance_fmnist.tex', bold_rows=True)

In [79]:
NI = pd.read_csv('../../../results/CNN_dense_node_importance_cifar.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_dense_node_importance_cifar.tex', bold_rows=True)

In [80]:
NI = pd.read_csv('../../../results/CNN_conv_1_node_importance_cifar.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_1_node_importance_cifar.tex', bold_rows=True)

In [81]:
NI = pd.read_csv('../../../results/CNN_conv_2_node_importance_cifar.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_2_node_importance_cifar.tex', bold_rows=True)

In [82]:
NI = pd.read_csv('../../../results/CNN_conv_3_node_importance_cifar.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_3_node_importance_cifar.tex', bold_rows=True)

In [83]:
NI = pd.read_csv('../../../results/CNN_conv_4_node_importance_cifar.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_4_node_importance_cifar.tex', bold_rows=True)

In [84]:
NI = pd.read_csv('../../../results/CNN_dense_node_importance_val_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_dense_node_importance_val_mnist.tex', bold_rows=True)

In [85]:
NI = pd.read_csv('../../../results/CNN_conv_1_node_importance_val_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_1_node_importance_val_mnist.tex', bold_rows=True)

In [86]:
NI = pd.read_csv('../../../results/CNN_conv_2_node_importance_val_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_2_node_importance_val_mnist.tex', bold_rows=True)

In [87]:
NI = pd.read_csv('../../../results/CNN_conv_3_node_importance_val_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_3_node_importance_val_mnist.tex', bold_rows=True)

In [88]:
NI = pd.read_csv('../../../results/CNN_conv_4_node_importance_val_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_4_node_importance_val_mnist.tex', bold_rows=True)

In [89]:
NI = pd.read_csv('../../../results/CNN_dense_node_importance_val_fmnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_dense_node_importance_val_fmnist.tex', bold_rows=True)

In [90]:
NI = pd.read_csv('../../../results/CNN_conv_1_node_importance_val_fmnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_1_node_importance_val_fmnist.tex', bold_rows=True)

In [91]:
NI = pd.read_csv('../../../results/CNN_conv_2_node_importance_val_fmnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_2_node_importance_val_fmnist.tex', bold_rows=True)

In [92]:
NI = pd.read_csv('../../../results/CNN_conv_3_node_importance_val_fmnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_3_node_importance_val_fmnist.tex', bold_rows=True)

In [93]:
NI = pd.read_csv('../../../results/CNN_conv_4_node_importance_val_fmnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_4_node_importance_val_fmnist.tex', bold_rows=True)

In [94]:
NI = pd.read_csv('../../../results/CNN_dense_node_importance_val_cifar.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_dense_node_importance_val_cifar.tex', bold_rows=True)

In [95]:
NI = pd.read_csv('../../../results/CNN_conv_1_node_importance_val_cifar.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_1_node_importance_val_cifar.tex', bold_rows=True)

In [96]:
NI = pd.read_csv('../../../results/CNN_conv_2_node_importance_val_cifar.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_2_node_importance_val_cifar.tex', bold_rows=True)

In [97]:
NI = pd.read_csv('../../../results/CNN_conv_3_node_importance_val_cifar.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_3_node_importance_val_cifar.tex', bold_rows=True)

In [98]:
NI = pd.read_csv('../../../results/CNN_conv_4_node_importance_val_cifar.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_4_node_importance_val_cifar.tex', bold_rows=True)

In [103]:
NR = pd.read_csv('../../../results/num_removed_ANN_pre_calc_mnist.csv', index_col=0)
NR.columns = ['Number of Nodes']
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/num_removed_ANN_pre_calc_mnist.tex', bold_rows=True)

In [104]:
A = pd.read_csv('../../../results/change_accuracy_ANN_pre_calc_mnist.csv', index_col=0)
A.columns = ['Change in Accuracy']
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_accuracy_ANN_pre_calc_mnist.tex', bold_rows=True)

In [105]:
L = pd.read_csv('../../../results/chnage_loss_ANN_pre_calc_mnist.csv', index_col=0)
L.columns = ['Change in Loss']
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_loss_ANN_pre_calc_mnist.tex', bold_rows=True)

In [106]:
NR = pd.read_csv('../../../results/num_removed_ANN_pre_calc_fmnist.csv', index_col=0)
NR.columns = ['Number of Nodes']
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/num_removed_ANN_pre_calc_fmnist.tex', bold_rows=True)

In [107]:
A = pd.read_csv('../../../results/change_accuracy_ANN_pre_calc_fmnist.csv', index_col=0)
A.columns = ['Change in Accuracy']
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_accuracy_ANN_pre_calc_fmnist.tex', bold_rows=True)

In [108]:
L = pd.read_csv('../../../results/chnage_loss_ANN_pre_calc_fmnist.csv', index_col=0)
L.columns = ['Change in Loss']
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_loss_ANN_pre_calc_fmnist.tex', bold_rows=True)

In [109]:
NR = pd.read_csv('../../../results/num_removed_ANN_pre_calc_val_mnist.csv', index_col=0)
NR.columns = ['Number of Nodes']
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/num_removed_ANN_pre_calc_val_mnist.tex', bold_rows=True)

In [110]:
A = pd.read_csv('../../../results/change_accuracy_ANN_pre_calc_val_mnist.csv', index_col=0)
A.columns = ['Change in Accuracy']
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_accuracy_ANN_pre_calc_val_mnist.tex', bold_rows=True)

In [111]:
L = pd.read_csv('../../../results/chnage_loss_ANN_pre_calc_val_mnist.csv', index_col=0)
L.columns = ['Change in Loss']
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_loss_ANN_pre_calc_val_mnist.tex', bold_rows=True)

In [112]:
NR = pd.read_csv('../../../results/num_removed_ANN_pre_calc_val_fmnist.csv', index_col=0)
NR.columns = ['Number of Nodes']
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/num_removed_ANN_pre_calc_val_fmnist.tex', bold_rows=True)

In [113]:
A = pd.read_csv('../../../results/change_accuracy_ANN_pre_calc_val_fmnist.csv', index_col=0)
A.columns = ['Change in Accuracy']
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_accuracy_ANN_pre_calc_val_fmnist.tex', bold_rows=True)

In [114]:
L = pd.read_csv('../../../results/chnage_loss_ANN_pre_calc_val_fmnist.csv', index_col=0)
L.columns = ['Change in Loss']
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_loss_ANN_pre_calc_val_fmnist.tex', bold_rows=True)

In [115]:
NR = pd.read_csv('../../../results/num_removed_MLP_pre_calc_mnist.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/num_removed_MLP_pre_calc_mnist.tex', bold_rows=True)

In [116]:
A = pd.read_csv('../../../results/change_accuracy_MLP_pre_calc_mnist.csv', index_col=0)
A.columns = ['Change in Accuracy']
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_accuracy_MLP_pre_calc_mnist.tex', bold_rows=True)

In [117]:
L = pd.read_csv('../../../results/chnage_loss_MLP_pre_calc_mnist.csv', index_col=0)
L.columns = ['Change in Loss']
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_loss_MLP_pre_calc_mnist.tex', bold_rows=True)

In [118]:
NR = pd.read_csv('../../../results/num_removed_MLP_pre_calc_fmnist.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/num_removed_MLP_pre_calc_fmnist.tex', bold_rows=True)

In [119]:
A = pd.read_csv('../../../results/change_accuracy_MLP_pre_calc_fmnist.csv', index_col=0)
A.columns = ['Change in Accuracy']
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_accuracy_MLP_pre_calc_fmnist.tex', bold_rows=True)

In [120]:
L = pd.read_csv('../../../results/chnage_loss_MLP_pre_calc_fmnist.csv', index_col=0)
L.columns = ['Change in Loss']
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_loss_MLP_pre_calc_fmnist.tex', bold_rows=True)

In [121]:
NR = pd.read_csv('../../../results/num_removed_MLP_pre_calc_val_mnist.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/num_removed_MLP_pre_calc_val_mnist.tex', bold_rows=True)

In [122]:
A = pd.read_csv('../../../results/change_accuracy_MLP_pre_calc_val_mnist.csv', index_col=0)
A.columns = ['Change in Accuracy']
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_accuracy_MLP_pre_calc_val_mnist.tex', bold_rows=True)

In [123]:
L = pd.read_csv('../../../results/chnage_loss_MLP_pre_calc_val_mnist.csv', index_col=0)
L.columns = ['Change in Loss']
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_loss_MLP_pre_calc_val_mnist.tex', bold_rows=True)

In [124]:
NR = pd.read_csv('../../../results/num_removed_MLP_pre_calc_val_fmnist.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/num_removed_MLP_pre_calc_val_fmnist.tex', bold_rows=True)

In [125]:
A = pd.read_csv('../../../results/change_accuracy_MLP_pre_calc_val_fmnist.csv', index_col=0)
A.columns = ['Change in Accuracy']
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_accuracy_MLP_pre_calc_val_fmnist.tex', bold_rows=True)

In [126]:
L = pd.read_csv('../../../results/chnage_loss_MLP_pre_calc_val_fmnist.csv', index_col=0)
L.columns = ['Change in Loss']
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_loss_MLP_pre_calc_val_fmnist.tex', bold_rows=True)

In [127]:
NR = pd.read_csv('../../../results/num_removed_CNN_pre_calc_mnist.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/num_removed_CNN_pre_calc_mnist.tex', bold_rows=True)

In [128]:
A = pd.read_csv('../../../results/change_accuracy_CNN_pre_calc_mnist.csv', index_col=0)
A.columns = ['Change in Accuracy']
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_accuracy_CNN_pre_calc_mnist.tex', bold_rows=True)

In [129]:
L = pd.read_csv('../../../results/chnage_loss_CNN_pre_calc_mnist.csv', index_col=0)
L.columns = ['Change in Loss']
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_loss_CNN_pre_calc_mnist.tex', bold_rows=True)

In [130]:
NR = pd.read_csv('../../../results/num_removed_CNN_pre_calc_fmnist.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/num_removed_CNN_pre_calc_fmnist.tex', bold_rows=True)

In [131]:
A = pd.read_csv('../../../results/change_accuracy_CNN_pre_calc_fmnist.csv', index_col=0)
A.columns = ['Change in Accuracy']
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_accuracy_CNN_pre_calc_fmnist.tex', bold_rows=True)

In [132]:
L = pd.read_csv('../../../results/chnage_loss_CNN_pre_calc_fmnist.csv', index_col=0)
L.columns = ['Change in Loss']
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_loss_CNN_pre_calc_fmnist.tex', bold_rows=True)

In [133]:
NR = pd.read_csv('../../../results/num_removed_CNN_pre_calc_cifar.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/num_removed_CNN_pre_calc_cifar.tex', bold_rows=True)

In [134]:
A = pd.read_csv('../../../results/change_accuracy_CNN_pre_calc_cifar.csv', index_col=0)
A.columns = ['Change in Accuracy']
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_accuracy_CNN_pre_calc_cifar.tex', bold_rows=True)

In [135]:
L = pd.read_csv('../../../results/chnage_loss_CNN_pre_calc_cifar.csv', index_col=0)
L.columns = ['Change in Loss']
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_loss_CNN_pre_calc_cifar.tex', bold_rows=True)

In [136]:
NR = pd.read_csv('../../../results/num_removed_CNN_pre_calc_val_mnist.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/num_removed_CNN_pre_calc_val_mnist.tex', bold_rows=True)

In [137]:
A = pd.read_csv('../../../results/change_accuracy_CNN_pre_calc_val_mnist.csv', index_col=0)
A.columns = ['Change in Accuracy']
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_accuracy_CNN_pre_calc_val_mnist.tex', bold_rows=True)

In [138]:
L = pd.read_csv('../../../results/chnage_loss_CNN_pre_calc_val_mnist.csv', index_col=0)
L.columns = ['Change in Loss']
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_loss_CNN_pre_calc_val_mnist.tex', bold_rows=True)

In [139]:
NR = pd.read_csv('../../../results/num_removed_CNN_pre_calc_val_fmnist.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/num_removed_CNN_pre_calc_val_fmnist.tex', bold_rows=True)

In [140]:
A = pd.read_csv('../../../results/change_accuracy_CNN_pre_calc_val_fmnist.csv', index_col=0)
A.columns = ['Change in Accuracy']
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_accuracy_CNN_pre_calc_val_fmnist.tex', bold_rows=True)

In [141]:
L = pd.read_csv('../../../results/chnage_loss_CNN_pre_calc_val_fmnist.csv', index_col=0)
L.columns = ['Change in Loss']
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_loss_CNN_pre_calc_val_fmnist.tex', bold_rows=True)

In [142]:
NR = pd.read_csv('../../../results/num_removed_CNN_pre_calc_val_cifar.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/num_removed_CNN_pre_calc_val_cifar.tex', bold_rows=True)

In [143]:
A = pd.read_csv('../../../results/change_accuracy_CNN_pre_calc_val_cifar.csv', index_col=0)
A.columns = ['Change in Accuracy']
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_accuracy_CNN_pre_calc_val_cifar.tex', bold_rows=True)

In [144]:
L = pd.read_csv('../../../results/chnage_loss_CNN_pre_calc_val_cifar.csv', index_col=0)
L.columns = ['Change in Loss']
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_loss_CNN_pre_calc_val_cifar.tex', bold_rows=True)

In [8]:
NI = pd.read_csv('../../../results/dropout/node_imp_ANN_dropout_mnist.csv', header=[0,1], index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/dropout/node_imp_ANN_mnist.tex', bold_rows=True, multicolumn_format='c')

In [9]:
AvgNI = pd.read_csv('../../../results/dropout/avg_node_imp_ANN_dropout_mnist.csv', header=[0,1], index_col=0)
AvgNI.describe().drop(['count']).round(4).to_latex('../../../latex/tables/dropout/avg_node_imp_ANN_mnist.tex', bold_rows=True, multicolumn_format='c')

In [10]:
A = pd.read_csv('../../../results/dropout/avg_acc_ANN_dropout_mnist.csv', index_col=0)
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/dropout/avg_acc_ANN_mnist.tex', bold_rows=True)

In [11]:
L = pd.read_csv('../../../results/dropout/loss_ANN_dropout_mnist.csv', index_col=0)
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/dropout/avg_loss_ANN_mnist.tex', bold_rows=True)

In [12]:
NI = pd.read_csv('../../../results/dropout/node_imp_ANN_dropout_fmnist.csv', header=[0,1], index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/dropout/node_imp_ANN_fmnist.tex', bold_rows=True, multicolumn_format='c')

In [13]:
AvgNI = pd.read_csv('../../../results/dropout/avg_node_imp_ANN_dropout_fmnist.csv', header=[0,1], index_col=0)
AvgNI.describe().drop(['count']).round(4).to_latex('../../../latex/tables/dropout/avg_node_imp_ANN_fmnist.tex', bold_rows=True, multicolumn_format='c')

In [14]:
A = pd.read_csv('../../../results/dropout/avg_acc_ANN_dropout_fmnist.csv', index_col=0)
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/dropout/avg_acc_ANN_fmnist.tex', bold_rows=True)

In [15]:
L = pd.read_csv('../../../results/dropout/loss_ANN_dropout_fmnist.csv', index_col=0)
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/dropout/avg_loss_ANN_fmnist.tex', bold_rows=True)

In [16]:
NI = pd.read_csv('../../../results/dropout/node_imp_MLP_dropout_1_mnist.csv', header=[0,1], index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/dropout/node_imp_MLP_1_mnist.tex', bold_rows=True, multicolumn_format='c')

In [17]:
AvgNI = pd.read_csv('../../../results/dropout/avg_node_imp_MLP_dropout_1_mnist.csv', header=[0,1], index_col=0)
AvgNI.describe().drop(['count']).round(4).to_latex('../../../latex/tables/dropout/avg_node_imp_MLP_1_mnist.tex', bold_rows=True, multicolumn_format='c')

In [18]:
NI = pd.read_csv('../../../results/dropout/node_imp_MLP_dropout_2_mnist.csv', header=[0,1], index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/dropout/node_imp_MLP_2_mnist.tex', bold_rows=True, multicolumn_format='c')

In [19]:
AvgNI = pd.read_csv('../../../results/dropout/avg_node_imp_MLP_dropout_2_mnist.csv', header=[0,1], index_col=0)
AvgNI.describe().drop(['count']).round(4).to_latex('../../../latex/tables/dropout/avg_node_imp_MLP_2_mnist.tex', bold_rows=True, multicolumn_format='c')

In [20]:
NI = pd.read_csv('../../../results/dropout/node_imp_MLP_dropout_3_mnist.csv', header=[0,1], index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/dropout/node_imp_MLP_3_mnist.tex', bold_rows=True, multicolumn_format='c')

In [22]:
AvgNI = pd.read_csv('../../../results/dropout/avg_node_imp_MLP_dropout_3_mnist.csv', header=[0,1], index_col=0)
AvgNI.describe().drop(['count']).round(4).to_latex('../../../latex/tables/dropout/avg_node_imp_MLP_3_mnist.tex', bold_rows=True, multicolumn_format='c')

In [25]:
A = pd.read_csv('../../../results/dropout/avg_acc_MLP_dropout_mnist.csv', index_col=0)
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/dropout/avg_acc_MLP_mnist.tex', bold_rows=True)

In [26]:
L = pd.read_csv('../../../results/dropout/loss_MLP_dropout_mnist.csv', index_col=0)
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/dropout/avg_loss_MLP_mnist.tex', bold_rows=True)

In [27]:
NI = pd.read_csv('../../../results/dropout/node_imp_MLP_dropout_1_fmnist.csv', header=[0,1], index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/dropout/node_imp_MLP_1_fmnist.tex', bold_rows=True, multicolumn_format='c')

In [28]:
AvgNI = pd.read_csv('../../../results/dropout/avg_node_imp_MLP_dropout_1_fmnist.csv', header=[0,1], index_col=0)
AvgNI.describe().drop(['count']).round(4).to_latex('../../../latex/tables/dropout/avg_node_imp_MLP_1_fmnist.tex', bold_rows=True, multicolumn_format='c')

In [29]:
NI = pd.read_csv('../../../results/dropout/node_imp_MLP_dropout_2_fmnist.csv', header=[0,1], index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/dropout/node_imp_MLP_2_fmnist.tex', bold_rows=True, multicolumn_format='c')

In [30]:
AvgNI = pd.read_csv('../../../results/dropout/avg_node_imp_MLP_dropout_2_fmnist.csv', header=[0,1], index_col=0)
AvgNI.describe().drop(['count']).round(4).to_latex('../../../latex/tables/dropout/avg_node_imp_MLP_2_fmnist.tex', bold_rows=True, multicolumn_format='c')

In [31]:
NI = pd.read_csv('../../../results/dropout/node_imp_MLP_dropout_3_fmnist.csv', header=[0,1], index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/dropout/node_imp_MLP_3_fmnist.tex', bold_rows=True, multicolumn_format='c')

In [32]:
AvgNI = pd.read_csv('../../../results/dropout/avg_node_imp_MLP_dropout_3_fmnist.csv', header=[0,1], index_col=0)
AvgNI.describe().drop(['count']).round(4).to_latex('../../../latex/tables/dropout/avg_node_imp_MLP_3_fmnist.tex', bold_rows=True, multicolumn_format='c')

In [33]:
A = pd.read_csv('../../../results/dropout/avg_acc_MLP_dropout_fmnist.csv', index_col=0)
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/dropout/avg_acc_MLP_fmnist.tex', bold_rows=True)

In [34]:
L = pd.read_csv('../../../results/dropout/loss_MLP_dropout_fmnist.csv', index_col=0)
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/dropout/avg_loss_MLP_fmnist.tex', bold_rows=True)

In [128]:
NI = pd.read_csv('../../../results/node_imp_ANN_batch_mnist.csv', header=[0,1], index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/batch/node_imp_ANN_mnist.tex', bold_rows=True, multicolumn_format='c')

In [129]:
AvgNI = pd.read_csv('../../../results/avg_node_imp_ANN_batch_mnist.csv', header=[0,1], index_col=0)
AvgNI.describe().drop(['count']).round(4).to_latex('../../../latex/tables/batch/avg_node_imp_ANN_mnist.tex', bold_rows=True, multicolumn_format='c')

In [130]:
A = pd.read_csv('../../../results/avg_acc_ANN_batch_mnist.csv', index_col=0)
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/batch/avg_acc_ANN_mnist.tex', bold_rows=True)

In [131]:
L = pd.read_csv('../../../results/loss_ANN_batch_mnist.csv', index_col=0)
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/batch/avg_loss_ANN_mnist.tex', bold_rows=True)

In [40]:
NI = pd.read_csv('../../../results/node_imp_ANN_batch_fmnist.csv', header=[0,1], index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/batch/node_imp_ANN_fmnist.tex', bold_rows=True, multicolumn_format='c')

In [41]:
AvgNI = pd.read_csv('../../../results/avg_node_imp_ANN_batch_fmnist.csv', header=[0,1], index_col=0)
AvgNI.describe().drop(['count']).round(4).to_latex('../../../latex/tables/batch/avg_node_imp_ANN_fmnist.tex', bold_rows=True, multicolumn_format='c')

In [42]:
A = pd.read_csv('../../../results/acc_ANN_batch_fmnist.csv', index_col=0)
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/batch/avg_acc_ANN_fmnist.tex', bold_rows=True)

In [43]:
L = pd.read_csv('../../../results/loss_ANN_batch_fmnist.csv', index_col=0)
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/batch/avg_loss_ANN_fmnist.tex', bold_rows=True)

In [44]:
NI = pd.read_csv('../../../results/node_imp_MLP_l1_batch_mnist.csv', header=[0,1], index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/batch/node_imp_MLP_1_mnist.tex', bold_rows=True, multicolumn_format='c')

In [45]:
AvgNI = pd.read_csv('../../../results/avg_node_imp_MLP_l1_batch_mnist.csv', header=[0,1], index_col=0)
AvgNI.describe().drop(['count']).round(4).to_latex('../../../latex/tables/batch/avg_node_imp_MLP_1_mnist.tex', bold_rows=True, multicolumn_format='c')

In [46]:
NI = pd.read_csv('../../../results/node_imp_MLP_l2_batch_mnist.csv', header=[0,1], index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/batch/node_imp_MLP_2_mnist.tex', bold_rows=True, multicolumn_format='c')

In [47]:
AvgNI = pd.read_csv('../../../results/avg_node_imp_MLP_l2_batch_mnist.csv', header=[0,1], index_col=0)
AvgNI.describe().drop(['count']).round(4).to_latex('../../../latex/tables/batch/avg_node_imp_MLP_2_mnist.tex', bold_rows=True, multicolumn_format='c')

In [48]:
NI = pd.read_csv('../../../results/node_imp_MLP_l3_batch_mnist.csv', header=[0,1], index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/batch/node_imp_MLP_3_mnist.tex', bold_rows=True, multicolumn_format='c')

In [49]:
AvgNI = pd.read_csv('../../../results/avg_node_imp_MLP_l3_batch_mnist.csv', header=[0,1], index_col=0)
AvgNI.describe().drop(['count']).round(4).to_latex('../../../latex/tables/batch/avg_node_imp_MLP_3_mnist.tex', bold_rows=True, multicolumn_format='c')

In [50]:
A = pd.read_csv('../../../results/acc_MLP_batch_mnist.csv', index_col=0)
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/batch/avg_acc_MLP_mnist.tex', bold_rows=True)

In [51]:
L = pd.read_csv('../../../results/loss_MLP_batch_mnist.csv', index_col=0)
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/batch/avg_loss_MLP_mnist.tex', bold_rows=True)

In [52]:
NI = pd.read_csv('../../../results/node_imp_MLP_l1_batch_fmnist.csv', header=[0,1], index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/batch/node_imp_MLP_1_fmnist.tex', bold_rows=True, multicolumn_format='c')

In [53]:
AvgNI = pd.read_csv('../../../results/avg_node_imp_MLP_l1_batch_fmnist.csv', header=[0,1], index_col=0)
AvgNI.describe().drop(['count']).round(4).to_latex('../../../latex/tables/batch/avg_node_imp_MLP_1_fmnist.tex', bold_rows=True, multicolumn_format='c')

In [54]:
NI = pd.read_csv('../../../results/node_imp_MLP_l2_batch_fmnist.csv', header=[0,1], index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/batch/node_imp_MLP_2_fmnist.tex', bold_rows=True, multicolumn_format='c')

In [55]:
AvgNI = pd.read_csv('../../../results/avg_node_imp_MLP_l2_batch_fmnist.csv', header=[0,1], index_col=0)
AvgNI.describe().drop(['count']).round(4).to_latex('../../../latex/tables/batch/avg_node_imp_MLP_2_fmnist.tex', bold_rows=True, multicolumn_format='c')

In [56]:
NI = pd.read_csv('../../../results/node_imp_MLP_l3_batch_fmnist.csv', header=[0,1], index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/batch/node_imp_MLP_3_fmnist.tex', bold_rows=True, multicolumn_format='c')

In [57]:
AvgNI = pd.read_csv('../../../results/avg_node_imp_MLP_l3_batch_fmnist.csv', header=[0,1], index_col=0)
AvgNI.describe().drop(['count']).round(4).to_latex('../../../latex/tables/batch/avg_node_imp_MLP_3_fmnist.tex', bold_rows=True, multicolumn_format='c')

In [58]:
A = pd.read_csv('../../../results/acc_MLP_batch_fmnist.csv', index_col=0)
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/batch/avg_acc_MLP_fmnist.tex', bold_rows=True)

In [59]:
L = pd.read_csv('../../../results/loss_MLP_batch_fmnist.csv', index_col=0)
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/batch/avg_loss_MLP_fmnist.tex', bold_rows=True)

In [60]:
NI = pd.read_csv('../../../results/node_imp_CNN_l1_batch_mnist.csv', header=[0,1], index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/batch/node_imp_CNN_1_mnist.tex', bold_rows=True, multicolumn_format='c')

In [61]:
AvgNI = pd.read_csv('../../../results/avg_node_imp_CNN_l1_batch_mnist.csv', header=[0,1], index_col=0)
AvgNI.describe().drop(['count']).round(4).to_latex('../../../latex/tables/batch/avg_node_imp_CNN_1_mnist.tex', bold_rows=True, multicolumn_format='c')

In [62]:
NI = pd.read_csv('../../../results/node_imp_CNN_l2_batch_mnist.csv', header=[0,1], index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/batch/node_imp_CNN_2_mnist.tex', bold_rows=True, multicolumn_format='c')

In [63]:
AvgNI = pd.read_csv('../../../results/avg_node_imp_CNN_l2_batch_mnist.csv', header=[0,1], index_col=0)
AvgNI.describe().drop(['count']).round(4).to_latex('../../../latex/tables/batch/avg_node_imp_CNN_2_mnist.tex', bold_rows=True, multicolumn_format='c')

In [64]:
NI = pd.read_csv('../../../results/node_imp_CNN_l3_batch_mnist.csv', header=[0,1], index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/batch/node_imp_CNN_3_mnist.tex', bold_rows=True, multicolumn_format='c')

In [65]:
AvgNI = pd.read_csv('../../../results/avg_node_imp_CNN_l3_batch_mnist.csv', header=[0,1], index_col=0)
AvgNI.describe().drop(['count']).round(4).to_latex('../../../latex/tables/batch/avg_node_imp_CNN_3_mnist.tex', bold_rows=True, multicolumn_format='c')

In [66]:
NI = pd.read_csv('../../../results/node_imp_CNN_l4_batch_mnist.csv', header=[0,1], index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/batch/node_imp_CNN_4_mnist.tex', bold_rows=True, multicolumn_format='c')

In [67]:
AvgNI = pd.read_csv('../../../results/avg_node_imp_CNN_l4_batch_mnist.csv', header=[0,1], index_col=0)
AvgNI.describe().drop(['count']).round(4).to_latex('../../../latex/tables/batch/avg_node_imp_CNN_4_mnist.tex', bold_rows=True, multicolumn_format='c')

In [74]:
NI = pd.read_csv('../../../results/node_imp_CNN_l5_batch_mnist.csv', header=[0,1], index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/batch/node_imp_CNN_5_mnist.tex', bold_rows=True, multicolumn_format='c')

In [69]:
AvgNI = pd.read_csv('../../../results/avg_node_imp_CNN_l5_batch_mnist.csv', header=[0,1], index_col=0)
AvgNI.describe().drop(['count']).round(4).to_latex('../../../latex/tables/batch/avg_node_imp_CNN_5_mnist.tex', bold_rows=True, multicolumn_format='c')

In [72]:
A = pd.read_csv('../../../results/acc_CNN_batch_mnist.csv', index_col=0)
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/batch/avg_acc_CNN_mnist.tex', bold_rows=True)

In [73]:
L = pd.read_csv('../../../results/loss_CNN_batch_mnist.csv', index_col=0)
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/batch/avg_loss_CNN_mnist.tex', bold_rows=True)

In [75]:
NI = pd.read_csv('../../../results/node_imp_CNN_l1_batch_fmnist.csv', header=[0,1], index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/batch/node_imp_CNN_1_fmnist.tex', bold_rows=True, multicolumn_format='c')

In [76]:
AvgNI = pd.read_csv('../../../results/avg_node_imp_CNN_l1_batch_fmnist.csv', header=[0,1], index_col=0)
AvgNI.describe().drop(['count']).round(4).to_latex('../../../latex/tables/batch/avg_node_imp_CNN_1_fmnist.tex', bold_rows=True, multicolumn_format='c')

In [77]:
NI = pd.read_csv('../../../results/node_imp_CNN_l2_batch_fmnist.csv', header=[0,1], index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/batch/node_imp_CNN_2_fmnist.tex', bold_rows=True, multicolumn_format='c')

In [78]:
AvgNI = pd.read_csv('../../../results/avg_node_imp_CNN_l2_batch_fmnist.csv', header=[0,1], index_col=0)
AvgNI.describe().drop(['count']).round(4).to_latex('../../../latex/tables/batch/avg_node_imp_CNN_2_fmnist.tex', bold_rows=True, multicolumn_format='c')

In [79]:
NI = pd.read_csv('../../../results/node_imp_CNN_l3_batch_fmnist.csv', header=[0,1], index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/batch/node_imp_CNN_3_fmnist.tex', bold_rows=True, multicolumn_format='c')

In [80]:
AvgNI = pd.read_csv('../../../results/avg_node_imp_CNN_l3_batch_fmnist.csv', header=[0,1], index_col=0)
AvgNI.describe().drop(['count']).round(4).to_latex('../../../latex/tables/batch/avg_node_imp_CNN_3_fmnist.tex', bold_rows=True, multicolumn_format='c')

In [81]:
NI = pd.read_csv('../../../results/node_imp_CNN_l4_batch_fmnist.csv', header=[0,1], index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/batch/node_imp_CNN_4_fmnist.tex', bold_rows=True, multicolumn_format='c')

In [82]:
AvgNI = pd.read_csv('../../../results/avg_node_imp_CNN_l4_batch_fmnist.csv', header=[0,1], index_col=0)
AvgNI.describe().drop(['count']).round(4).to_latex('../../../latex/tables/batch/avg_node_imp_CNN_4_fmnist.tex', bold_rows=True, multicolumn_format='c')

In [83]:
NI = pd.read_csv('../../../results/node_imp_CNN_l5_batch_fmnist.csv', header=[0,1], index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/batch/node_imp_CNN_5_fmnist.tex', bold_rows=True, multicolumn_format='c')

In [84]:
AvgNI = pd.read_csv('../../../results/avg_node_imp_CNN_l5_batch_fmnist.csv', header=[0,1], index_col=0)
AvgNI.describe().drop(['count']).round(4).to_latex('../../../latex/tables/batch/avg_node_imp_CNN_5_fmnist.tex', bold_rows=True, multicolumn_format='c')

In [85]:
A = pd.read_csv('../../../results/acc_CNN_batch_fmnist.csv', index_col=0)
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/batch/avg_acc_CNN_fmnist.tex', bold_rows=True)

In [86]:
L = pd.read_csv('../../../results/loss_CNN_batch_fmnist.csv', index_col=0)
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/batch/avg_loss_CNN_fmnist.tex', bold_rows=True)

In [87]:
NI = pd.read_csv('../../../results/node_imp_CNN_l1_batch_cifar.csv', header=[0,1], index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/batch/node_imp_CNN_1_cifar.tex', bold_rows=True, multicolumn_format='c')

In [88]:
AvgNI = pd.read_csv('../../../results/avg_node_imp_CNN_l1_batch_cifar.csv', header=[0,1], index_col=0)
AvgNI.describe().drop(['count']).round(4).to_latex('../../../latex/tables/batch/avg_node_imp_CNN_1_cifar.tex', bold_rows=True, multicolumn_format='c')

In [89]:
NI = pd.read_csv('../../../results/node_imp_CNN_l2_batch_cifar.csv', header=[0,1], index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/batch/node_imp_CNN_2_cifar.tex', bold_rows=True, multicolumn_format='c')

In [90]:
AvgNI = pd.read_csv('../../../results/avg_node_imp_CNN_l2_batch_cifar.csv', header=[0,1], index_col=0)
AvgNI.describe().drop(['count']).round(4).to_latex('../../../latex/tables/batch/avg_node_imp_CNN_2_cifar.tex', bold_rows=True, multicolumn_format='c')

In [91]:
NI = pd.read_csv('../../../results/node_imp_CNN_l3_batch_cifar.csv', header=[0,1], index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/batch/node_imp_CNN_3_cifar.tex', bold_rows=True, multicolumn_format='c')

In [92]:
AvgNI = pd.read_csv('../../../results/avg_node_imp_CNN_l3_batch_cifar.csv', header=[0,1], index_col=0)
AvgNI.describe().drop(['count']).round(4).to_latex('../../../latex/tables/batch/avg_node_imp_CNN_3_cifar.tex', bold_rows=True, multicolumn_format='c')

In [93]:
NI = pd.read_csv('../../../results/node_imp_CNN_l4_batch_cifar.csv', header=[0,1], index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/batch/node_imp_CNN_4_cifar.tex', bold_rows=True, multicolumn_format='c')

In [94]:
AvgNI = pd.read_csv('../../../results/avg_node_imp_CNN_l4_batch_cifar.csv', header=[0,1], index_col=0)
AvgNI.describe().drop(['count']).round(4).to_latex('../../../latex/tables/batch/avg_node_imp_CNN_4_cifar.tex', bold_rows=True, multicolumn_format='c')

In [95]:
NI = pd.read_csv('../../../results/node_imp_CNN_l5_batch_cifar.csv', header=[0,1], index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/batch/node_imp_CNN_5_cifar.tex', bold_rows=True, multicolumn_format='c')

In [96]:
AvgNI = pd.read_csv('../../../results/avg_node_imp_CNN_l5_batch_cifar.csv', header=[0,1], index_col=0)
AvgNI.describe().drop(['count']).round(4).to_latex('../../../latex/tables/batch/avg_node_imp_CNN_5_cifar.tex', bold_rows=True, multicolumn_format='c')

In [97]:
A = pd.read_csv('../../../results/acc_CNN_batch_cifar.csv', index_col=0)
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/batch/avg_acc_CNN_cifar.tex', bold_rows=True)

In [98]:
L = pd.read_csv('../../../results/loss_CNN_batch_cifar.csv', index_col=0)
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/batch/avg_loss_CNN_cifar.tex', bold_rows=True)

In [99]:
A = pd.read_csv('../../../results/acc_ANN_iter_weights_mnist.csv', index_col=0)
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/iter_weights/acc_ANN_mnist.tex', bold_rows=True)

In [100]:
L = pd.read_csv('../../../results/loss_ANN_iter_weights_mnist.csv', index_col=0)
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/iter_weights/loss_ANN_mnist.tex', bold_rows=True)

In [126]:
A = pd.read_csv('../../../results/acc_ANN_iter_weights_fmnist.csv', index_col=0)
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/iter_weights/acc_ANN_fmnist.tex', bold_rows=True)

In [127]:
L = pd.read_csv('../../../results/loss_ANN_iter_weights_fmnist.csv', index_col=0)
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/iter_weights/loss_ANN_fmnist.tex', bold_rows=True)

In [103]:
A = pd.read_csv('../../../results/acc_MLP_iter_weights_mnist.csv', index_col=0)
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/iter_weights/acc_MLP_mnist.tex', bold_rows=True)

In [104]:
L = pd.read_csv('../../../results/loss_MLP_iter_weights_mnist.csv', index_col=0)
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/iter_weights/loss_MLP_mnist.tex', bold_rows=True)

In [105]:
A = pd.read_csv('../../../results/acc_MLP_iter_weights_fmnist.csv', index_col=0)
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/iter_weights/acc_MLP_fmnist.tex', bold_rows=True)

In [106]:
L = pd.read_csv('../../../results/loss_MLP_iter_weights_fmnist.csv', index_col=0)
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/iter_weights/loss_MLP_fmnist.tex', bold_rows=True)

In [107]:
A = pd.read_csv('../../../results/acc_CNN_iter_weights_mnist.csv', index_col=0)
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/iter_weights/acc_CNN_mnist.tex', bold_rows=True)

In [108]:
L = pd.read_csv('../../../results/loss_CNN_iter_weights_mnist.csv', index_col=0)
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/iter_weights/loss_CNN_mnist.tex', bold_rows=True)

In [109]:
A = pd.read_csv('../../../results/acc_CNN_iter_weights_fmnist.csv', index_col=0)
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/iter_weights/acc_CNN_fmnist.tex', bold_rows=True)

In [110]:
L = pd.read_csv('../../../results/loss_CNN_iter_weights_fmnist.csv', index_col=0)
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/iter_weights/loss_CNN_fmnist.tex', bold_rows=True)

In [2]:
DCA = pd.read_csv('../../../results/diff_class_acc_CNN_class_mnist.csv', index_col=0)
DCA.describe().drop(['count']).round(4).to_latex('../../../latex/tables/class/diff_class_acc_CNN_mnist.tex', bold_rows=True)

In [3]:
OCA = pd.read_csv('../../../results/old_class_acc_CNN_class_mnist.csv', index_col=0)
OCA.describe().drop(['count']).round(4).to_latex('../../../latex/tables/class/old_class_acc_CNN_mnist.tex', bold_rows=True)

In [4]:
NCA = pd.read_csv('../../../results/new_class_acc_CNN_class_mnist.csv', index_col=0)
NCA.describe().drop(['count']).round(4).to_latex('../../../latex/tables/class/new_class_acc_CNN_mnist.tex', bold_rows=True)

In [5]:
A = pd.read_csv('../../../results/acc_CNN_class_mnist.csv', index_col=0)
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/class/acc_CNN_mnist.tex', bold_rows=True)

In [6]:
L = pd.read_csv('../../../results/loss_CNN_class_mnist.csv', index_col=0)
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/class/loss_CNN_mnist.tex', bold_rows=True)

In [7]:
DCA = pd.read_csv('../../../results/diff_class_acc_CNN_class_fmnist.csv', index_col=0)
DCA.describe().drop(['count']).round(4).to_latex('../../../latex/tables/class/diff_class_acc_CNN_fmnist.tex', bold_rows=True)

In [8]:
OCA = pd.read_csv('../../../results/old_class_acc_CNN_class_fmnist.csv', index_col=0)
OCA.describe().drop(['count']).round(4).to_latex('../../../latex/tables/class/old_class_acc_CNN_fmnist.tex', bold_rows=True)

In [9]:
NCA = pd.read_csv('../../../results/new_class_acc_CNN_class_fmnist.csv', index_col=0)
NCA.describe().drop(['count']).round(4).to_latex('../../../latex/tables/class/new_class_acc_CNN_fmnist.tex', bold_rows=True)

In [10]:
A = pd.read_csv('../../../results/acc_CNN_class_fmnist.csv', index_col=0)
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/class/acc_CNN_fmnist.tex', bold_rows=True)

In [11]:
L = pd.read_csv('../../../results/loss_CNN_class_fmnist.csv', index_col=0)
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/class/loss_CNN_fmnist.tex', bold_rows=True)

In [12]:
DCA = pd.read_csv('../../../results/diff_class_acc_CNN_class_cifar.csv', index_col=0)
DCA.describe().drop(['count']).round(4).to_latex('../../../latex/tables/class/diff_class_acc_CNN_cifar.tex', bold_rows=True)

In [13]:
OCA = pd.read_csv('../../../results/old_class_acc_CNN_class_cifar.csv', index_col=0)
OCA.describe().drop(['count']).round(4).to_latex('../../../latex/tables/class/old_class_acc_CNN_cifar.tex', bold_rows=True)

In [14]:
NCA = pd.read_csv('../../../results/new_class_acc_CNN_class_cifar.csv', index_col=0)
NCA.describe().drop(['count']).round(4).to_latex('../../../latex/tables/class/new_class_acc_CNN_cifar.tex', bold_rows=True)

In [15]:
A = pd.read_csv('../../../results/acc_CNN_class_cifar.csv', index_col=0)
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/class/acc_CNN_cifar.tex', bold_rows=True)

In [16]:
L = pd.read_csv('../../../results/loss_CNN_class_cifar.csv', index_col=0)
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/class/loss_CNN_cifar.tex', bold_rows=True)

In [2]:
NR = pd.read_csv('../../../results/num_removed_MLP_exh_pru_mnist.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/exh_pru/num_removed_MLP_exh_pru_mnist.tex', bold_rows=True)

In [3]:
NR = pd.read_csv('../../../results/num_removed_MLP_exh_pru_val_mnist.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/exh_pru/num_removed_MLP_exh_pru_val_mnist.tex', bold_rows=True)

In [4]:
NR = pd.read_csv('../../../results/num_removed_MLP_exh_pru_fmnist.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/exh_pru/num_removed_MLP_exh_pru_fmnist.tex', bold_rows=True)

In [5]:
NR = pd.read_csv('../../../results/num_removed_MLP_exh_pru_val_fmnist.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/exh_pru/num_removed_MLP_exh_pru_val_fmnist.tex', bold_rows=True)

In [6]:
NR = pd.read_csv('../../../results/num_removed_CNN_exh_pru_val_mnist.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/exh_pru/num_removed_CNN_exh_pru_val_mnist.tex', bold_rows=True)

In [7]:
NR = pd.read_csv('../../../results/num_removed_CNN_exh_pru_val_fmnist.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/exh_pru/num_removed_CNN_exh_pru_val_fmnist.tex', bold_rows=True)

In [8]:
NR = pd.read_csv('../../../results/num_removed_CNN_exh_pru_val_cifar.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/exh_pru/num_removed_CNN_exh_pru_val_cifar.tex', bold_rows=True)

In [9]:
NR = pd.read_csv('../../../results/num_removed_MLP_greed_ex_mnist.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/greed_pru/num_removed_MLP_greed_ex_mnist.tex', bold_rows=True)

In [10]:
NR = pd.read_csv('../../../results/num_removed_MLP_greed_ex_2_mnist.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/greed_pru/num_removed_MLP_greed_ex_2_mnist.tex', bold_rows=True)

In [11]:
NR = pd.read_csv('../../../results/num_removed_MLP_greed_ex_fmnist.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/greed_pru/num_removed_MLP_greed_ex_fmnist.tex', bold_rows=True)

In [12]:
NR = pd.read_csv('../../../results/num_removed_MLP_greed_ex_2_fmnist.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/greed_pru/num_removed_MLP_greed_ex_2_fmnist.tex', bold_rows=True)

In [13]:
NR = pd.read_csv('../../../results/num_removed_CNN_greed_ex_mnist.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/greed_pru/num_removed_CNN_greed_ex_mnist.tex', bold_rows=True)

In [14]:
NR = pd.read_csv('../../../results/num_removed_CNN_greed_ex_fmnist.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/greed_pru/num_removed_CNN_greed_ex_fmnist.tex', bold_rows=True)

In [15]:
NR = pd.read_csv('../../../results/num_removed_CNN_greed_ex_cifar.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/greed_pru/num_removed_CNN_greed_ex_cifar.tex', bold_rows=True)

In [16]:
NR = pd.read_csv('../../../results/num_removed_CNN_greed_ex_2_mnist.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/greed_pru/num_removed_CNN_greed_ex_2_mnist.tex', bold_rows=True)

In [17]:
NR = pd.read_csv('../../../results/num_removed_CNN_greed_ex_2_fmnist.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/greed_pru/num_removed_CNN_greed_ex_2_fmnist.tex', bold_rows=True)

In [18]:
NR = pd.read_csv('../../../results/num_removed_CNN_greed_ex_2_cifar.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/greed_pru/num_removed_CNN_greed_ex_2_cifar.tex', bold_rows=True)

In [19]:
Time = pd.read_csv('../../../results/time_MLP_greed_ex_mnist.csv', index_col=0)
Time.describe().drop(['count']).round(2).to_latex('../../../latex/tables/greed_pru/time_MLP_greed_ex_mnist.tex', bold_rows=True)

In [20]:
Time = pd.read_csv('../../../results/time_MLP_greed_ex_fmnist.csv', index_col=0)
Time.describe().drop(['count']).round(2).to_latex('../../../latex/tables/greed_pru/time_MLP_greed_ex_fmnist.tex', bold_rows=True)

In [21]:
Time = pd.read_csv('../../../results/time_CNN_greed_ex_mnist.csv', index_col=0)
Time.describe().drop(['count']).round(2).to_latex('../../../latex/tables/greed_pru/time_CNN_greed_ex_mnist.tex', bold_rows=True)

In [22]:
Time = pd.read_csv('../../../results/time_CNN_greed_ex_fmnist.csv', index_col=0)
Time.describe().drop(['count']).round(2).to_latex('../../../latex/tables/greed_pru/time_CNN_greed_ex_fmnist.tex', bold_rows=True)

In [23]:
Time = pd.read_csv('../../../results/time_CNN_greed_ex_cifar.csv', index_col=0)
Time.describe().drop(['count']).round(2).to_latex('../../../latex/tables/greed_pru/time_CNN_greed_ex_cifar.tex', bold_rows=True)

In [24]:
NR = pd.read_csv('../../../results/num_removed_ANN_exh_pru_mnist.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/exh_pru/num_removed_ANN_exh_pru_mnist.tex', bold_rows=True)

In [25]:
A = pd.read_csv('../../../results/change_accuracy_ANN_exh_pru_mnist.csv', index_col=0)
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/exh_pru/change_accuracy_ANN_exh_pru_mnist.tex', bold_rows=True)

In [26]:
L = pd.read_csv('../../../results/chnage_loss_ANN_exh_pru_mnist.csv', index_col=0)
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/exh_pru/change_loss_ANN_exh_pru_mnist.tex', bold_rows=True)

In [27]:
NR = pd.read_csv('../../../results/num_removed_ANN_exh_pru_val_mnist.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/exh_pru/num_removed_ANN_exh_pru_val_mnist.tex', bold_rows=True)

In [28]:
A = pd.read_csv('../../../results/change_accuracy_ANN_exh_pru_val_mnist.csv', index_col=0)
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/exh_pru/change_accuracy_ANN_exh_pru_val_mnist.tex', bold_rows=True)

In [29]:
L = pd.read_csv('../../../results/chnage_loss_ANN_exh_pru_val_mnist.csv', index_col=0)
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/exh_pru/change_loss_ANN_exh_pru_val_mnist.tex', bold_rows=True)

In [30]:
NR = pd.read_csv('../../../results/num_removed_ANN_exh_pru_fmnist.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/exh_pru/num_removed_ANN_exh_pru_fmnist.tex', bold_rows=True)

In [31]:
A = pd.read_csv('../../../results/change_accuracy_ANN_exh_pru_fmnist.csv', index_col=0)
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/exh_pru/change_accuracy_ANN_exh_pru_fmnist.tex', bold_rows=True)

In [32]:
L = pd.read_csv('../../../results/chnage_loss_ANN_exh_pru_fmnist.csv', index_col=0)
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/exh_pru/change_loss_ANN_exh_pru_fmnist.tex', bold_rows=True)

In [33]:
NR = pd.read_csv('../../../results/num_removed_ANN_exh_pru_val_fmnist.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/exh_pru/num_removed_ANN_exh_pru_val_fmnist.tex', bold_rows=True)

In [34]:
A = pd.read_csv('../../../results/change_accuracy_ANN_exh_pru_val_fmnist.csv', index_col=0)
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/exh_pru/change_accuracy_ANN_exh_pru_val_fmnist.tex', bold_rows=True)

In [35]:
L = pd.read_csv('../../../results/chnage_loss_ANN_exh_pru_val_fmnist.csv', index_col=0)
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/exh_pru/change_loss_ANN_exh_pru_val_fmnist.tex', bold_rows=True)

In [36]:
A = pd.read_csv('../../../results/change_accuracy_MLP_exh_pru_mnist.csv', index_col=0)
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/exh_pru/change_accuracy_MLP_exh_pru_mnist.tex', bold_rows=True)

In [37]:
L = pd.read_csv('../../../results/chnage_loss_MLP_exh_pru_mnist.csv', index_col=0)
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/exh_pru/change_loss_MLP_exh_pru_mnist.tex', bold_rows=True)

In [38]:
A = pd.read_csv('../../../results/change_accuracy_MLP_exh_pru_val_mnist.csv', index_col=0)
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/exh_pru/change_accuracy_MLP_exh_pru_val_mnist.tex', bold_rows=True)

In [39]:
L = pd.read_csv('../../../results/chnage_loss_MLP_exh_pru_val_mnist.csv', index_col=0)
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/exh_pru/change_loss_MLP_exh_pru_val_mnist.tex', bold_rows=True)

In [40]:
A = pd.read_csv('../../../results/change_accuracy_MLP_exh_pru_fmnist.csv', index_col=0)
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/exh_pru/change_accuracy_MLP_exh_pru_fmnist.tex', bold_rows=True)

In [41]:
L = pd.read_csv('../../../results/chnage_loss_MLP_exh_pru_fmnist.csv', index_col=0)
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/exh_pru/change_loss_MLP_exh_pru_fmnist.tex', bold_rows=True)

In [42]:
A = pd.read_csv('../../../results/change_accuracy_MLP_exh_pru_val_fmnist.csv', index_col=0)
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/exh_pru/change_accuracy_MLP_exh_pru_val_fmnist.tex', bold_rows=True)

In [43]:
L = pd.read_csv('../../../results/chnage_loss_MLP_exh_pru_val_fmnist.csv', index_col=0)
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/exh_pru/change_loss_MLP_exh_pru_val_fmnist.tex', bold_rows=True)

In [44]:
A = pd.read_csv('../../../results/change_accuracy_CNN_exh_pru_val_mnist.csv', index_col=0)
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/exh_pru/change_accuracy_CNN_exh_pru_val_mnist.tex', bold_rows=True)

In [45]:
L = pd.read_csv('../../../results/chnage_loss_CNN_exh_pru_val_mnist.csv', index_col=0)
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/exh_pru/change_loss_CNN_exh_pru_val_mnist.tex', bold_rows=True)

In [46]:
A = pd.read_csv('../../../results/change_accuracy_CNN_exh_pru_val_fmnist.csv', index_col=0)
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/exh_pru/change_accuracy_CNN_exh_pru_val_fmnist.tex', bold_rows=True)

In [47]:
L = pd.read_csv('../../../results/chnage_loss_CNN_exh_pru_val_fmnist.csv', index_col=0)
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/exh_pru/change_loss_CNN_exh_pru_val_fmnist.tex', bold_rows=True)

In [48]:
A = pd.read_csv('../../../results/change_accuracy_CNN_exh_pru_val_cifar.csv', index_col=0)
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/exh_pru/change_accuracy_CNN_exh_pru_val_cifar.tex', bold_rows=True)

In [49]:
L = pd.read_csv('../../../results/chnage_loss_CNN_exh_pru_val_cifar.csv', index_col=0)
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/exh_pru/change_loss_CNN_exh_pru_val_cifar.tex', bold_rows=True)

In [9]:
A1.T

      mean     std     min     25%     50%     75%     max
1   0.9720  0.0009  0.9687  0.9715  0.9721  0.9726  0.9736
2   0.9714  0.0013  0.9624  0.9708  0.9717  0.9724  0.9743
4   0.9704  0.0020  0.9602  0.9694  0.9708  0.9719  0.9744
8   0.9681  0.0032  0.9523  0.9664  0.9685  0.9704  0.9749
16  0.9619  0.0056  0.9270  0.9588  0.9628  0.9660  0.9724
32  0.9427  0.0130  0.8861  0.9364  0.9448  0.9526  0.9662
64  0.8485  0.0417  0.6831  0.8215  0.8546  0.8803  0.9328

In [8]:
L1.T

      mean     std     min     25%     50%     75%     max
1   0.0895  0.0026  0.0848  0.0877  0.0890  0.0908  0.0997
2   0.0914  0.0038  0.0839  0.0887  0.0907  0.0932  0.1245
4   0.0948  0.0058  0.0838  0.0907  0.0937  0.0981  0.1292
8   0.1024  0.0095  0.0844  0.0957  0.1012  0.1069  0.1489
16  0.1216  0.0164  0.0901  0.1101  0.1186  0.1305  0.2233
32  0.1794  0.0361  0.1127  0.1516  0.1738  0.1980  0.3409
64  0.4466  0.1074  0.2306  0.3662  0.4313  0.5112  0.9883

In [37]:
node_num = [1,1,2,2,4,4,8,8,16,16,32,32,64,64]
datasets = ['MNIST', 'Fashion MNIST', 'MNIST', 'Fashion MNIST', 'MNIST', 'Fashion MNIST', 'MNIST', 'Fashion MNIST', 'MNIST', 'Fashion MNIST', 'MNIST', 'Fashion MNIST', 'MNIST', 'Fashion MNIST']
tuples = list(zip(node_num, datasets))
tuples

[(1, 'MNIST'),
 (1, 'Fashion MNIST'),
 (2, 'MNIST'),
 (2, 'Fashion MNIST'),
 (4, 'MNIST'),
 (4, 'Fashion MNIST'),
 (8, 'MNIST'),
 (8, 'Fashion MNIST'),
 (16, 'MNIST'),
 (16, 'Fashion MNIST'),
 (32, 'MNIST'),
 (32, 'Fashion MNIST'),
 (64, 'MNIST'),
 (64, 'Fashion MNIST')]

In [38]:
index = pd.MultiIndex.from_tuples(tuples, names=['Number of Nodes', 'Dataset'])

In [39]:
node_num = ['mean', 'mean', 'std', 'std', 'min', 'min', '25%', '25%', '50%', '50%', '75%', '75%', 'max', 'max']
datasets = ['Accuracy', 'Loss', 'Accuracy', 'Loss', 'Accuracy', 'Loss', 'Accuracy', 'Loss', 'Accuracy', 'Loss', 'Accuracy', 'Loss', 'Accuracy', 'Loss']
tuples = list(zip(node_num, datasets))
tuples

[('mean', 'Accuracy'),
 ('mean', 'Loss'),
 ('std', 'Accuracy'),
 ('std', 'Loss'),
 ('min', 'Accuracy'),
 ('min', 'Loss'),
 ('25%', 'Accuracy'),
 ('25%', 'Loss'),
 ('50%', 'Accuracy'),
 ('50%', 'Loss'),
 ('75%', 'Accuracy'),
 ('75%', 'Loss'),
 ('max', 'Accuracy'),
 ('max', 'Loss')]

In [45]:
col = pd.MultiIndex.from_tuples(tuples, names=['', ''])

In [153]:
test = pd.concat([pd.concat([A1.T, L1.T], axis=1, keys=['Accuracy', 'Loss']), pd.concat([A2.T, L2.T], axis=1, keys=['Accuracy', 'Loss'])], keys=['MNIST', 'Fashion MNIST'])

In [154]:
test

                 Accuracy                                                  \
                     mean     std     min     25%     50%     75%     max
MNIST         1    0.9720  0.0009  0.9687  0.9715  0.9721  0.9726  0.9736
              2    0.9714  0.0013  0.9624  0.9708  0.9717  0.9724  0.9743
              4    0.9704  0.0020  0.9602  0.9694  0.9708  0.9719  0.9744
              8    0.9681  0.0032  0.9523  0.9664  0.9685  0.9704  0.9749
              16   0.9619  0.0056  0.9270  0.9588  0.9628  0.9660  0.9724
              32   0.9427  0.0130  0.8861  0.9364  0.9448  0.9526  0.9662
              64   0.8485  0.0417  0.6831  0.8215  0.8546  0.8803  0.9328
Fashion MNIST 1    0.8677  0.0021  0.8578  0.8670  0.8684  0.8686  0.8726
              2    0.8667  0.0030  0.8470  0.8653  0.8674  0.8685  0.8735
              4    0.8652  0.0042  0.8470  0.8632  0.8659  0.8681  0.8745
              8    0.8618  0.0059  0.8405  0.8582  0.8626  0.8663  0.8767
              16   0.8543  0.0096  0.8050  0.8491  0.8558  0.8611  0.8747
              32   0.8295  0.0200  0.7382  0.8190  0.8336  0.8441  0.8656
              64   0.7394  0.0443  0.5493  0.7171  0.7437  0.7698  0.8307

                    Loss
                    mean     std     min     25%     50%     75%     max
MNIST         1   0.0895  0.0026  0.0848  0.0877  0.0890  0.0908  0.0997
              2   0.0914  0.0038  0.0839  0.0887  0.0907  0.0932  0.1245
              4   0.0948  0.0058  0.0838  0.0907  0.0937  0.0981  0.1292
              8   0.1024  0.0095  0.0844  0.0957  0.1012  0.1069  0.1489
              16  0.1216  0.0164  0.0901  0.1101  0.1186  0.1305  0.2233
              32  0.1794  0.0361  0.1127  0.1516  0.1738  0.1980  0.3409
              64  0.4466  0.1074  0.2306  0.3662  0.4313  0.5112  0.9883
Fashion MNIST 1   0.3578  0.0049  0.3459  0.3557  0.3564  0.3591  0.3791
              2   0.3601  0.0070  0.3452  0.3559  0.3584  0.3632  0.4055
              4   0.3643  0.0098  0.3434  0.3576  0.3625  0.3693  0.4035
              8   0.3730  0.0137  0.3448  0.3629  0.3711  0.3811  0.4297
              16  0.3939  0.0228  0.3515  0.3772  0.3900  0.4060  0.5106
              32  0.4607  0.0495  0.3725  0.4245  0.4504  0.4857  0.7079
              64  0.7062  0.1182  0.4730  0.6235  0.6867  0.7619  1.3649

In [155]:
test = test.reorder_levels([1,0])

In [156]:
test

                 Accuracy                                                  \
                     mean     std     min     25%     50%     75%     max
1  MNIST           0.9720  0.0009  0.9687  0.9715  0.9721  0.9726  0.9736
2  MNIST           0.9714  0.0013  0.9624  0.9708  0.9717  0.9724  0.9743
4  MNIST           0.9704  0.0020  0.9602  0.9694  0.9708  0.9719  0.9744
8  MNIST           0.9681  0.0032  0.9523  0.9664  0.9685  0.9704  0.9749
16 MNIST           0.9619  0.0056  0.9270  0.9588  0.9628  0.9660  0.9724
32 MNIST           0.9427  0.0130  0.8861  0.9364  0.9448  0.9526  0.9662
64 MNIST           0.8485  0.0417  0.6831  0.8215  0.8546  0.8803  0.9328
1  Fashion MNIST   0.8677  0.0021  0.8578  0.8670  0.8684  0.8686  0.8726
2  Fashion MNIST   0.8667  0.0030  0.8470  0.8653  0.8674  0.8685  0.8735
4  Fashion MNIST   0.8652  0.0042  0.8470  0.8632  0.8659  0.8681  0.8745
8  Fashion MNIST   0.8618  0.0059  0.8405  0.8582  0.8626  0.8663  0.8767
16 Fashion MNIST   0.8543  0.0096  0.8050  0.8491  0.8558  0.8611  0.8747
32 Fashion MNIST   0.8295  0.0200  0.7382  0.8190  0.8336  0.8441  0.8656
64 Fashion MNIST   0.7394  0.0443  0.5493  0.7171  0.7437  0.7698  0.8307

                    Loss
                    mean     std     min     25%     50%     75%     max
1  MNIST          0.0895  0.0026  0.0848  0.0877  0.0890  0.0908  0.0997
2  MNIST          0.0914  0.0038  0.0839  0.0887  0.0907  0.0932  0.1245
4  MNIST          0.0948  0.0058  0.0838  0.0907  0.0937  0.0981  0.1292
8  MNIST          0.1024  0.0095  0.0844  0.0957  0.1012  0.1069  0.1489
16 MNIST          0.1216  0.0164  0.0901  0.1101  0.1186  0.1305  0.2233
32 MNIST          0.1794  0.0361  0.1127  0.1516  0.1738  0.1980  0.3409
64 MNIST          0.4466  0.1074  0.2306  0.3662  0.4313  0.5112  0.9883
1  Fashion MNIST  0.3578  0.0049  0.3459  0.3557  0.3564  0.3591  0.3791
2  Fashion MNIST  0.3601  0.0070  0.3452  0.3559  0.3584  0.3632  0.4055
4  Fashion MNIST  0.3643  0.0098  0.3434  0.3576  0.3625  0.3693  0.4035
8  Fashion MNIST  0.3730  0.0137  0.3448  0.3629  0.3711  0.3811  0.4297
16 Fashion MNIST  0.3939  0.0228  0.3515  0.3772  0.3900  0.4060  0.5106
32 Fashion MNIST  0.4607  0.0495  0.3725  0.4245  0.4504  0.4857  0.7079
64 Fashion MNIST  0.7062  0.1182  0.4730  0.6235  0.6867  0.7619  1.3649

In [157]:
test.reindex(index)

                              Accuracy                                  \
                                  mean     std     min     25%     50%
Number of Nodes Dataset
1               MNIST           0.9720  0.0009  0.9687  0.9715  0.9721
                Fashion MNIST   0.8677  0.0021  0.8578  0.8670  0.8684
2               MNIST           0.9714  0.0013  0.9624  0.9708  0.9717
                Fashion MNIST   0.8667  0.0030  0.8470  0.8653  0.8674
4               MNIST           0.9704  0.0020  0.9602  0.9694  0.9708
                Fashion MNIST   0.8652  0.0042  0.8470  0.8632  0.8659
8               MNIST           0.9681  0.0032  0.9523  0.9664  0.9685
                Fashion MNIST   0.8618  0.0059  0.8405  0.8582  0.8626
16              MNIST           0.9619  0.0056  0.9270  0.9588  0.9628
                Fashion MNIST   0.8543  0.0096  0.8050  0.8491  0.8558
32              MNIST           0.9427  0.0130  0.8861  0.9364  0.9448
                Fashion MNIST   0.8295  0.0200  0.7382  0.8190  0.8336
64              MNIST           0.8485  0.0417  0.6831  0.8215  0.8546
                Fashion MNIST   0.7394  0.0443  0.5493  0.7171  0.7437

                                                 Loss                          \
                                  75%     max    mean     std     min     25%
Number of Nodes Dataset
1               MNIST          0.9726  0.9736  0.0895  0.0026  0.0848  0.0877
                Fashion MNIST  0.8686  0.8726  0.3578  0.0049  0.3459  0.3557
2               MNIST          0.9724  0.9743  0.0914  0.0038  0.0839  0.0887
                Fashion MNIST  0.8685  0.8735  0.3601  0.0070  0.3452  0.3559
4               MNIST          0.9719  0.9744  0.0948  0.0058  0.0838  0.0907
                Fashion MNIST  0.8681  0.8745  0.3643  0.0098  0.3434  0.3576
8               MNIST          0.9704  0.9749  0.1024  0.0095  0.0844  0.0957
                Fashion MNIST  0.8663  0.8767  0.3730  0.0137  0.3448  0.3629
16              MNIST          0.9660  0.9724  0.1216  0.0164  0.0901  0.1101
                Fashion MNIST  0.8611  0.8747  0.3939  0.0228  0.3515  0.3772
32              MNIST          0.9526  0.9662  0.1794  0.0361  0.1127  0.1516
                Fashion MNIST  0.8441  0.8656  0.4607  0.0495  0.3725  0.4245
64              MNIST          0.8803  0.9328  0.4466  0.1074  0.2306  0.3662
                Fashion MNIST  0.7698  0.8307  0.7062  0.1182  0.4730  0.6235


                                  50%     75%     max
Number of Nodes Dataset
1               MNIST          0.0890  0.0908  0.0997
                Fashion MNIST  0.3564  0.3591  0.3791
2               MNIST          0.0907  0.0932  0.1245
                Fashion MNIST  0.3584  0.3632  0.4055
4               MNIST          0.0937  0.0981  0.1292
                Fashion MNIST  0.3625  0.3693  0.4035
8               MNIST          0.1012  0.1069  0.1489
                Fashion MNIST  0.3711  0.3811  0.4297
16              MNIST          0.1186  0.1305  0.2233
                Fashion MNIST  0.3900  0.4060  0.5106
32              MNIST          0.1738  0.1980  0.3409
                Fashion MNIST  0.4504  0.4857  0.7079
64              MNIST          0.4313  0.5112  0.9883
                Fashion MNIST  0.6867  0.7619  1.3649

In [158]:
test = test.reorder_levels([1,0], axis=1)

In [159]:
test

,,mean,std,min,25%,50%,75%,max,mean,std,min,25%,50%,75%,max
,,Accuracy,Accuracy,Accuracy,Accuracy,Accuracy,Accuracy,Accuracy,Loss,Loss,Loss,Loss,Loss,Loss,Loss
1,MNIST,0.9720,0.0009,0.9687,0.9715,0.9721,0.9726,0.9736,0.0895,0.0026,0.0848,0.0877,0.0890,0.0908,0.0997
2,MNIST,0.9714,0.0013,0.9624,0.9708,0.9717,0.9724,0.9743,0.0914,0.0038,0.0839,0.0887,0.0907,0.0932,0.1245
4,MNIST,0.9704,0.0020,0.9602,0.9694,0.9708,0.9719,0.9744,0.0948,0.0058,0.0838,0.0907,0.0937,0.0981,0.1292
8,MNIST,0.9681,0.0032,0.9523,0.9664,0.9685,0.9704,0.9749,0.1024,0.0095,0.0844,0.0957,0.1012,0.1069,0.1489
16,MNIST,0.9619,0.0056,0.9270,0.9588,0.9628,0.9660,0.9724,0.1216,0.0164,0.0901,0.1101,0.1186,0.1305,0.2233
32,MNIST,0.9427,0.0130,0.8861,0.9364,0.9448,0.9526,0.9662,0.1794,0.0361,0.1127,0.1516,0.1738,0.1980,0.3409
64,MNIST,0.8485,0.0417,0.6831,0.8215,0.8546,0.8803,0.9328,0.4466,0.1074,0.2306,0.3662,0.4313,0.5112,0.9883
1,Fashion MNIST,0.8677,0.0021,0.8578,0.8670,0.8684,0.8686,0.8726,0.3578,0.0049,0.3459,0.3557,0.3564,0.3591,0.3791
2,Fashion MNIST,0.8667,0.0030,0.8470,0.8653,0.8674,0.8685,0.8735,0.3601,0.0070,0.3452,0.3559,0.3584,0.3632,0.4055
4,Fashion MNIST,0.8652,0.0042,0.8470,0.8632,0.8659,0.8681,0.8745,0.3643,0.0098,0.3434,0.3576,0.3625,0.3693,0.4035
8,Fashion MNIST,0.8618,0.0059,0.8405,0.8582,0.8626,0.8663,0.8767,0.3730,0.0137,0.3448,0.3629,0.3711,0.3811,0.4297
16,Fashion MNIST,0.8543,0.0096,0.8050,0.8491,0.8558,0.8611,0.8747,0.3939,0.0228,0.3515,0.3772,0.3900,0.4060,0.5106
32,Fashion MNIST,0.8295,0.0200,0.7382,0.8190,0.8336,0.8441,0.8656,0.4607,0.0495,0.3725,0.4245,0.4504,0.4857,0.7079
64,Fashion MNIST,0.7394,0.0443,0.5493,0.7171,0.7437,0.7698,0.8307,0.7062,0.1182,0.4730,0.6235,0.6867,0.7619,1.3649

In [161]:
test = test.reindex(col, axis=1)

In [162]:
test

                     mean              std              min              25%  \
                 Accuracy    Loss Accuracy    Loss Accuracy    Loss Accuracy
1  MNIST           0.9720  0.0895   0.0009  0.0026   0.9687  0.0848   0.9715
2  MNIST           0.9714  0.0914   0.0013  0.0038   0.9624  0.0839   0.9708
4  MNIST           0.9704  0.0948   0.0020  0.0058   0.9602  0.0838   0.9694
8  MNIST           0.9681  0.1024   0.0032  0.0095   0.9523  0.0844   0.9664
16 MNIST           0.9619  0.1216   0.0056  0.0164   0.9270  0.0901   0.9588
32 MNIST           0.9427  0.1794   0.0130  0.0361   0.8861  0.1127   0.9364
64 MNIST           0.8485  0.4466   0.0417  0.1074   0.6831  0.2306   0.8215
1  Fashion MNIST   0.8677  0.3578   0.0021  0.0049   0.8578  0.3459   0.8670
2  Fashion MNIST   0.8667  0.3601   0.0030  0.0070   0.8470  0.3452   0.8653
4  Fashion MNIST   0.8652  0.3643   0.0042  0.0098   0.8470  0.3434   0.8632
8  Fashion MNIST   0.8618  0.3730   0.0059  0.0137   0.8405  0.3448   0.8582
16 Fashion MNIST   0.8543  0.3939   0.0096  0.0228   0.8050  0.3515   0.8491
32 Fashion MNIST   0.8295  0.4607   0.0200  0.0495   0.7382  0.3725   0.8190
64 Fashion MNIST   0.7394  0.7062   0.0443  0.1182   0.5493  0.4730   0.7171

                              50%              75%              max
                    Loss Accuracy    Loss Accuracy    Loss Accuracy    Loss
1  MNIST          0.0877   0.9721  0.0890   0.9726  0.0908   0.9736  0.0997
2  MNIST          0.0887   0.9717  0.0907   0.9724  0.0932   0.9743  0.1245
4  MNIST          0.0907   0.9708  0.0937   0.9719  0.0981   0.9744  0.1292
8  MNIST          0.0957   0.9685  0.1012   0.9704  0.1069   0.9749  0.1489
16 MNIST          0.1101   0.9628  0.1186   0.9660  0.1305   0.9724  0.2233
32 MNIST          0.1516   0.9448  0.1738   0.9526  0.1980   0.9662  0.3409
64 MNIST          0.3662   0.8546  0.4313   0.8803  0.5112   0.9328  0.9883
1  Fashion MNIST  0.3557   0.8684  0.3564   0.8686  0.3591   0.8726  0.3791
2  Fashion MNIST  0.3559   0.8674  0.3584   0.8685  0.3632   0.8735  0.4055
4  Fashion MNIST  0.3576   0.8659  0.3625   0.8681  0.3693   0.8745  0.4035
8  Fashion MNIST  0.3629   0.8626  0.3711   0.8663  0.3811   0.8767  0.4297
16 Fashion MNIST  0.3772   0.8558  0.3900   0.8611  0.4060   0.8747  0.5106
32 Fashion MNIST  0.4245   0.8336  0.4504   0.8441  0.4857   0.8656  0.7079
64 Fashion MNIST  0.6235   0.7437  0.6867   0.7698  0.7619   0.8307  1.3649

In [164]:
test = test.reindex(index)

In [165]:
test

                                  mean              std              min  \
                              Accuracy    Loss Accuracy    Loss Accuracy
Number of Nodes Dataset
1               MNIST           0.9720  0.0895   0.0009  0.0026   0.9687
                Fashion MNIST   0.8677  0.3578   0.0021  0.0049   0.8578
2               MNIST           0.9714  0.0914   0.0013  0.0038   0.9624
                Fashion MNIST   0.8667  0.3601   0.0030  0.0070   0.8470
4               MNIST           0.9704  0.0948   0.0020  0.0058   0.9602
                Fashion MNIST   0.8652  0.3643   0.0042  0.0098   0.8470
8               MNIST           0.9681  0.1024   0.0032  0.0095   0.9523
                Fashion MNIST   0.8618  0.3730   0.0059  0.0137   0.8405
16              MNIST           0.9619  0.1216   0.0056  0.0164   0.9270
                Fashion MNIST   0.8543  0.3939   0.0096  0.0228   0.8050
32              MNIST           0.9427  0.1794   0.0130  0.0361   0.8861
                Fashion MNIST   0.8295  0.4607   0.0200  0.0495   0.7382
64              MNIST           0.8485  0.4466   0.0417  0.1074   0.6831
                Fashion MNIST   0.7394  0.7062   0.0443  0.1182   0.5493

                                           25%              50%          \
                                 Loss Accuracy    Loss Accuracy    Loss
Number of Nodes Dataset
1               MNIST          0.0848   0.9715  0.0877   0.9721  0.0890
                Fashion MNIST  0.3459   0.8670  0.3557   0.8684  0.3564
2               MNIST          0.0839   0.9708  0.0887   0.9717  0.0907
                Fashion MNIST  0.3452   0.8653  0.3559   0.8674  0.3584
4               MNIST          0.0838   0.9694  0.0907   0.9708  0.0937
                Fashion MNIST  0.3434   0.8632  0.3576   0.8659  0.3625
8               MNIST          0.0844   0.9664  0.0957   0.9685  0.1012
                Fashion MNIST  0.3448   0.8582  0.3629   0.8626  0.3711
16              MNIST          0.0901   0.9588  0.1101   0.9628  0.1186
                Fashion MNIST  0.3515   0.8491  0.3772   0.8558  0.3900
32              MNIST          0.1127   0.9364  0.1516   0.9448  0.1738
                Fashion MNIST  0.3725   0.8190  0.4245   0.8336  0.4504
64              MNIST          0.2306   0.8215  0.3662   0.8546  0.4313
                Fashion MNIST  0.4730   0.7171  0.6235   0.7437  0.6867

                                   75%              max
                              Accuracy    Loss Accuracy    Loss
Number of Nodes Dataset
1               MNIST           0.9726  0.0908   0.9736  0.0997
                Fashion MNIST   0.8686  0.3591   0.8726  0.3791
2               MNIST           0.9724  0.0932   0.9743  0.1245
                Fashion MNIST   0.8685  0.3632   0.8735  0.4055
4               MNIST           0.9719  0.0981   0.9744  0.1292
                Fashion MNIST   0.8681  0.3693   0.8745  0.4035
8               MNIST           0.9704  0.1069   0.9749  0.1489
                Fashion MNIST   0.8663  0.3811   0.8767  0.4297
16              MNIST           0.9660  0.1305   0.9724  0.2233
                Fashion MNIST   0.8611  0.4060   0.8747  0.5106
32              MNIST           0.9526  0.1980   0.9662  0.3409
                Fashion MNIST   0.8441  0.4857   0.8656  0.7079
64              MNIST           0.8803  0.5112   0.9328  0.9883
                Fashion MNIST   0.7698  0.7619   0.8307  1.3649

In [166]:
test.to_latex('test.tex', multirow=True, multicolumn_format='c', bold_rows=True, longtable=True)