In [1]:
import pandas as pd

In [25]:
A = pd.read_csv('../../../results/accs_random_removal_mnist.csv', index_col=0)
A = A.T

A.describe().drop(['count'])

            64        32        16        8         4         2         1
mean  0.848527  0.942736  0.961917  0.968121  0.970445  0.971441  0.971984
std   0.041705  0.013024  0.005639  0.003178  0.001986  0.001336  0.000920
min   0.683100  0.886100  0.927000  0.952300  0.960200  0.962400  0.968700
25%   0.821525  0.936400  0.958800  0.966400  0.969400  0.970800  0.971500
50%   0.854600  0.944800  0.962800  0.968500  0.970800  0.971700  0.972100
75%   0.880300  0.952600  0.966000  0.970400  0.971900  0.972400  0.972600
max   0.932800  0.966200  0.972400  0.974900  0.974400  0.974300  0.973600

In [26]:
A[A.columns[::-1]].describe().drop(['count']).round(4).to_latex('../../../latex/tables/accs_random_removal_mnist.tex', bold_rows=True)

In [27]:
A = pd.read_csv('../../../results/accs_random_removal_improving_mnist.csv', index_col=0)
A = A.T
A.describe()

               8          4          3          2          1
count  20.000000  20.000000  20.000000  20.000000  20.000000
mean    0.972635   0.973300   0.973735   0.974225   0.975070
std     0.000452   0.000771   0.000977   0.000927   0.000643
min     0.972400   0.972300   0.972300   0.972800   0.973900
25%     0.972400   0.972825   0.972900   0.973575   0.974575
50%     0.972400   0.973200   0.973700   0.973900   0.975100
75%     0.972550   0.973725   0.974500   0.974950   0.975600
max     0.973900   0.975000   0.976000   0.976100   0.976200

In [28]:
A[A.columns[::-1]].describe().drop(['count']).round(4).to_latex('../../../latex/tables/accs_random_removal_improving_mnist.tex', bold_rows=True)

In [29]:
A = pd.read_csv('../../../results/accs_random_removal_fmnist.csv', index_col=0)
A = A.T
A.describe()

,64,32,16,8,4,2,1
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.739420,0.829493,0.854300,0.861841,0.865154,0.866732,0.867660
std,0.044278,0.019952,0.009643,0.005855,0.004244,0.002991,0.002112
min,0.549300,0.738200,0.805000,0.840500,0.847000,0.847000,0.857800
25%,0.717075,0.818975,0.849100,0.858200,0.863200,0.865300,0.867000
50%,0.743700,0.833600,0.855800,0.862600,0.865900,0.867400,0.868400
75%,0.769825,0.844100,0.861100,0.866300,0.868100,0.868500,0.868600
max,0.830700,0.865600,0.874700,0.876700,0.874500,0.873500,0.872600

In [30]:
A[A.columns[::-1]].describe().drop(['count']).round(4).to_latex('../../../latex/tables/accs_random_removal_fmnist.tex', bold_rows=True)

In [31]:
A = pd.read_csv('../../../results/accs_random_removal_improving_fmnist.csv', index_col=0)
A = A.T
A.describe()

               8          4          3          2          1
count  20.000000  20.000000  20.000000  20.000000  20.000000
mean    0.870585   0.873075   0.874295   0.875200   0.874875
std     0.001879   0.001823   0.001822   0.001772   0.002274
min     0.868500   0.870500   0.871800   0.871800   0.870200
25%     0.868500   0.871725   0.872950   0.874250   0.873350
50%     0.870600   0.872700   0.873900   0.875000   0.874600
75%     0.871550   0.874125   0.875775   0.876350   0.877000
max     0.874800   0.876400   0.877500   0.879400   0.878200

In [32]:
A[A.columns[::-1]].describe().drop(['count']).round(4).to_latex('../../../latex/tables/accs_random_removal_improving_fmnist.tex', bold_rows=True)

In [35]:
L = pd.read_csv('../../../results/losses_random_removal_mnist.csv', index_col=0)
L = L.T

L.describe().drop(['count'])

            64        32        16        8         4         2         1
mean  0.446568  0.179376  0.121617  0.102391  0.094847  0.091354  0.089476
std   0.107404  0.036119  0.016426  0.009524  0.005803  0.003836  0.002613
min   0.230566  0.112669  0.090062  0.084443  0.083758  0.083917  0.084770
25%   0.366245  0.151553  0.110106  0.095662  0.090660  0.088709  0.087741
50%   0.431301  0.173848  0.118624  0.101203  0.093718  0.090672  0.088999
75%   0.511249  0.197996  0.130489  0.106858  0.098065  0.093192  0.090758
max   0.988322  0.340889  0.223338  0.148904  0.129176  0.124468  0.099743

In [36]:
L[L.columns[::-1]].describe().drop(['count']).round(4).to_latex('../../../latex/tables/losses_random_removal_mnist.tex', bold_rows=True)

In [37]:
L = pd.read_csv('../../../results/losses_random_removal_improving_mnist.csv', index_col=0)
L = L.T
L.describe()

               8          4          3          2          1
count  20.000000  20.000000  20.000000  20.000000  20.000000
mean    0.087305   0.085965   0.084898   0.084107   0.081889
std     0.001489   0.002041   0.001461   0.002319   0.001942
min     0.082889   0.081235   0.081726   0.079564   0.077565
25%     0.087862   0.084700   0.084096   0.082943   0.080665
50%     0.087934   0.086520   0.084675   0.084117   0.081291
75%     0.087934   0.086980   0.086087   0.085754   0.083135
max     0.088868   0.089754   0.087224   0.087849   0.085597

In [38]:
L[L.columns[::-1]].describe().drop(['count']).round(4).to_latex('../../../latex/tables/losses_random_removal_improving_mnist.tex', bold_rows=True)

In [39]:
L = pd.read_csv('../../../results/losses_random_removal_fmnist.csv', index_col=0)
L = L.T
L.describe()

,64,32,16,8,4,2,1
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.706201,0.460722,0.393947,0.373015,0.364346,0.360122,0.357810
std,0.118168,0.049531,0.022848,0.013691,0.009820,0.007008,0.004880
min,0.472961,0.372549,0.351513,0.344837,0.343449,0.345162,0.345931
25%,0.623537,0.424450,0.377217,0.362925,0.357621,0.355903,0.355735
50%,0.686746,0.450386,0.389976,0.371131,0.362512,0.358449,0.356431
75%,0.761893,0.485715,0.406018,0.381101,0.369336,0.363180,0.359089
max,1.364899,0.707925,0.510603,0.429679,0.403501,0.405484,0.379082

In [40]:
L[L.columns[::-1]].describe().drop(['count']).round(4).to_latex('../../../latex/tables/losses_random_removal_fmnist.tex', bold_rows=True)

In [41]:
L = pd.read_csv('../../../results/losses_random_removal_improving_fmnist.csv', index_col=0)
L = L.T
L.describe()

               8          4          3          2          1
count  20.000000  20.000000  20.000000  20.000000  20.000000
mean    0.352263   0.346888   0.344741   0.344445   0.343323
std     0.002992   0.003630   0.003713   0.003941   0.003447
min     0.347569   0.340290   0.337891   0.335182   0.338291
25%     0.349627   0.344326   0.341571   0.342375   0.341254
50%     0.352323   0.346583   0.344369   0.344093   0.342546
75%     0.355735   0.349196   0.347719   0.346062   0.344211
max     0.355735   0.355291   0.351043   0.351513   0.350519

In [42]:
L[L.columns[::-1]].describe().drop(['count']).round(4).to_latex('../../../latex/tables/losses_random_removal_improving_fmnist.tex', bold_rows=True)

In [43]:
NR = pd.read_csv('../../../results/number_nodes_removed_random_removal_improving_mnist.csv', index_col=0)
NR = NR.T
NR.describe()

               8          4          3          2          1
count  20.000000  20.000000  20.000000  20.000000  20.000000
mean    2.400000   5.800000   8.250000   8.900000   7.400000
std     3.761299   3.302312   2.731396   2.789076   1.698296
min     0.000000   0.000000   3.000000   4.000000   5.000000
25%     0.000000   4.000000   6.000000   7.500000   6.000000
50%     0.000000   4.000000   9.000000   8.000000   7.000000
75%     8.000000   8.000000   9.750000  10.000000   8.250000
max     8.000000  12.000000  12.000000  16.000000  11.000000

In [44]:
NR[NR.columns[::-1]].describe().drop(['count']).round(4).to_latex('../../../latex/tables/number_nodes_removed_random_removal_improving_mnist.tex', bold_rows=True)

In [45]:
NR = pd.read_csv('../../../results/number_nodes_removed_random_removal_improving_fmnist.csv', index_col=0)
NR = NR.T
NR.describe()

               8          4          3          2          1
count  20.000000  20.000000  20.000000  20.000000  20.000000
mean    5.600000   8.400000  10.650000   8.600000   5.500000
std     3.761299   3.408967   3.150188   1.846761   1.572795
min     0.000000   4.000000   3.000000   6.000000   2.000000
25%     0.000000   7.000000   9.000000   8.000000   5.000000
50%     8.000000   8.000000  12.000000   8.000000   5.500000
75%     8.000000  12.000000  12.000000  10.000000   6.250000
max     8.000000  16.000000  18.000000  12.000000   8.000000

In [46]:
NR[NR.columns[::-1]].describe().drop(['count']).round(4).to_latex('../../../latex/tables/number_nodes_removed_random_removal_improving_fmnist.tex', bold_rows=True)

In [50]:
NI = pd.read_csv('../../../results/single_layer_node_importance_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/single_layer_node_importance_mnist.tex', bold_rows=True)

In [49]:
NI.describe().drop(['count']).round(2)

      Zero Nodes  Worse Nodes  Important Nodes
mean        2.26        13.86           111.88
std         1.43         6.00             5.90
min         0.00         4.00           100.00
25%         1.00         9.00           107.25
50%         2.50        13.00           112.00
75%         3.00        18.00           116.75
max         5.00        27.00           123.00

In [51]:
NI = pd.read_csv('../../../results/single_layer_node_importance_fmnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/single_layer_node_importance_fmnist.tex', bold_rows=True)

In [52]:
NI.describe().drop(['count']).round(2)

      Zero Nodes  Worse Nodes  Important Nodes
mean       13.96        20.92            93.12
std         3.36         6.50             7.02
min         5.00         8.00            80.00
25%        12.00        16.00            89.00
50%        14.00        19.50            92.00
75%        16.00        25.75            97.75
max        24.00        36.00           115.00

In [53]:
NI = pd.read_csv('../../../results/single_layer_node_importance_val_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/single_layer_node_importance_val_mnist.tex', bold_rows=True)

In [54]:
NI.describe().drop(['count']).round(2)

      Zero Nodes  Worse Nodes  Important Nodes
mean        2.12        24.64           101.24
std         1.60         6.47             6.20
min         0.00        11.00            86.00
25%         1.00        19.00            96.25
50%         2.00        24.00           102.00
75%         3.00        29.75           105.00
max         5.00        39.00           112.00

In [55]:
NI = pd.read_csv('../../../results/single_layer_node_importance_val_fmnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/single_layer_node_importance_val_fmnist.tex', bold_rows=True)

In [56]:
NI.describe().drop(['count']).round(2)

      Zero Nodes  Worse Nodes  Important Nodes
mean       15.32        27.54            85.14
std         3.04         6.79             6.46
min        10.00        14.00            71.00
25%        13.00        22.25            80.50
50%        15.00        26.50            86.00
75%        18.00        32.75            90.75
max        21.00        41.00            97.00

In [57]:
NI = pd.read_csv('../../../results/multi_layer_1_node_importance_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/multi_layer_1_node_importance_mnist.tex', bold_rows=True)

In [58]:
NI = pd.read_csv('../../../results/multi_layer_2_node_importance_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/multi_layer_2_node_importance_mnist.tex', bold_rows=True)

In [59]:
NI = pd.read_csv('../../../results/multi_layer_3_node_importance_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/multi_layer_3_node_importance_mnist.tex', bold_rows=True)

In [60]:
NI = pd.read_csv('../../../results/multi_layer_1_node_importance_fmnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/multi_layer_1_node_importance_fmnist.tex', bold_rows=True)

In [61]:
NI = pd.read_csv('../../../results/multi_layer_2_node_importance_fmnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/multi_layer_2_node_importance_fmnist.tex', bold_rows=True)

In [62]:
NI = pd.read_csv('../../../results/multi_layer_3_node_importance_fmnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/multi_layer_3_node_importance_fmnist.tex', bold_rows=True)

In [63]:
NI = pd.read_csv('../../../results/multi_layer_1_node_importance_val_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/multi_layer_1_node_importance_val_mnist.tex', bold_rows=True)

In [64]:
NI = pd.read_csv('../../../results/multi_layer_2_node_importance_val_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/multi_layer_2_node_importance_val_mnist.tex', bold_rows=True)

In [65]:
NI = pd.read_csv('../../../results/multi_layer_3_node_importance_val_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/multi_layer_3_node_importance_val_mnist.tex', bold_rows=True)

In [66]:
NI = pd.read_csv('../../../results/multi_layer_1_node_importance_val_fmnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/multi_layer_1_node_importance_val_fmnist.tex', bold_rows=True)

In [67]:
NI = pd.read_csv('../../../results/multi_layer_2_node_importance_val_fmnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/multi_layer_2_node_importance_val_fmnist.tex', bold_rows=True)

In [68]:
NI = pd.read_csv('../../../results/multi_layer_3_node_importance_val_fmnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/multi_layer_3_node_importance_val_fmnist.tex', bold_rows=True)

In [69]:
NI = pd.read_csv('../../../results/CNN_dense_node_importance_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_dense_node_importance_mnist.tex', bold_rows=True)

In [70]:
NI = pd.read_csv('../../../results/CNN_conv_1_node_importance_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_1_node_importance_mnist.tex', bold_rows=True)

In [71]:
NI = pd.read_csv('../../../results/CNN_conv_2_node_importance_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_2_node_importance_mnist.tex', bold_rows=True)

In [72]:
NI = pd.read_csv('../../../results/CNN_conv_3_node_importance_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_3_node_importance_mnist.tex', bold_rows=True)

In [73]:
NI = pd.read_csv('../../../results/CNN_conv_4_node_importance_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_4_node_importance_mnist.tex', bold_rows=True)

In [74]:
NI = pd.read_csv('../../../results/CNN_dense_node_importance_fmnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_dense_node_importance_fmnist.tex', bold_rows=True)

In [75]:
NI = pd.read_csv('../../../results/CNN_conv_1_node_importance_fmnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_1_node_importance_fmnist.tex', bold_rows=True)

In [76]:
NI = pd.read_csv('../../../results/CNN_conv_2_node_importance_fmnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_2_node_importance_fmnist.tex', bold_rows=True)

In [77]:
NI = pd.read_csv('../../../results/CNN_conv_3_node_importance_fmnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_3_node_importance_fmnist.tex', bold_rows=True)

In [78]:
NI = pd.read_csv('../../../results/CNN_conv_4_node_importance_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_4_node_importance_fmnist.tex', bold_rows=True)

In [79]:
NI = pd.read_csv('../../../results/CNN_dense_node_importance_cifar.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_dense_node_importance_cifar.tex', bold_rows=True)

In [80]:
NI = pd.read_csv('../../../results/CNN_conv_1_node_importance_cifar.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_1_node_importance_cifar.tex', bold_rows=True)

In [81]:
NI = pd.read_csv('../../../results/CNN_conv_2_node_importance_cifar.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_2_node_importance_cifar.tex', bold_rows=True)

In [82]:
NI = pd.read_csv('../../../results/CNN_conv_3_node_importance_cifar.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_3_node_importance_cifar.tex', bold_rows=True)

In [83]:
NI = pd.read_csv('../../../results/CNN_conv_4_node_importance_cifar.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_4_node_importance_cifar.tex', bold_rows=True)

In [84]:
NI = pd.read_csv('../../../results/CNN_dense_node_importance_val_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_dense_node_importance_val_mnist.tex', bold_rows=True)

In [85]:
NI = pd.read_csv('../../../results/CNN_conv_1_node_importance_val_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_1_node_importance_val_mnist.tex', bold_rows=True)

In [86]:
NI = pd.read_csv('../../../results/CNN_conv_2_node_importance_val_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_2_node_importance_val_mnist.tex', bold_rows=True)

In [87]:
NI = pd.read_csv('../../../results/CNN_conv_3_node_importance_val_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_3_node_importance_val_mnist.tex', bold_rows=True)

In [88]:
NI = pd.read_csv('../../../results/CNN_conv_4_node_importance_val_mnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_4_node_importance_val_mnist.tex', bold_rows=True)

In [89]:
NI = pd.read_csv('../../../results/CNN_dense_node_importance_val_fmnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_dense_node_importance_val_fmnist.tex', bold_rows=True)

In [90]:
NI = pd.read_csv('../../../results/CNN_conv_1_node_importance_val_fmnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_1_node_importance_val_fmnist.tex', bold_rows=True)

In [91]:
NI = pd.read_csv('../../../results/CNN_conv_2_node_importance_val_fmnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_2_node_importance_val_fmnist.tex', bold_rows=True)

In [92]:
NI = pd.read_csv('../../../results/CNN_conv_3_node_importance_val_fmnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_3_node_importance_val_fmnist.tex', bold_rows=True)

In [93]:
NI = pd.read_csv('../../../results/CNN_conv_4_node_importance_val_fmnist.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_4_node_importance_val_fmnist.tex', bold_rows=True)

In [94]:
NI = pd.read_csv('../../../results/CNN_dense_node_importance_val_cifar.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_dense_node_importance_val_cifar.tex', bold_rows=True)

In [95]:
NI = pd.read_csv('../../../results/CNN_conv_1_node_importance_val_cifar.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_1_node_importance_val_cifar.tex', bold_rows=True)

In [96]:
NI = pd.read_csv('../../../results/CNN_conv_2_node_importance_val_cifar.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_2_node_importance_val_cifar.tex', bold_rows=True)

In [97]:
NI = pd.read_csv('../../../results/CNN_conv_3_node_importance_val_cifar.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_3_node_importance_val_cifar.tex', bold_rows=True)

In [98]:
NI = pd.read_csv('../../../results/CNN_conv_4_node_importance_val_cifar.csv', index_col=0)
NI.describe().drop(['count']).round(2).to_latex('../../../latex/tables/CNN_conv_4_node_importance_val_cifar.tex', bold_rows=True)

In [103]:
NR = pd.read_csv('../../../results/num_removed_ANN_pre_calc_mnist.csv', index_col=0)
NR.columns = ['Number of Nodes']
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/num_removed_ANN_pre_calc_mnist.tex', bold_rows=True)

In [104]:
A = pd.read_csv('../../../results/change_accuracy_ANN_pre_calc_mnist.csv', index_col=0)
A.columns = ['Change in Accuracy']
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_accuracy_ANN_pre_calc_mnist.tex', bold_rows=True)

In [105]:
L = pd.read_csv('../../../results/chnage_loss_ANN_pre_calc_mnist.csv', index_col=0)
L.columns = ['Change in Loss']
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_loss_ANN_pre_calc_mnist.tex', bold_rows=True)

In [106]:
NR = pd.read_csv('../../../results/num_removed_ANN_pre_calc_fmnist.csv', index_col=0)
NR.columns = ['Number of Nodes']
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/num_removed_ANN_pre_calc_fmnist.tex', bold_rows=True)

In [107]:
A = pd.read_csv('../../../results/change_accuracy_ANN_pre_calc_fmnist.csv', index_col=0)
A.columns = ['Change in Accuracy']
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_accuracy_ANN_pre_calc_fmnist.tex', bold_rows=True)

In [108]:
L = pd.read_csv('../../../results/chnage_loss_ANN_pre_calc_fmnist.csv', index_col=0)
L.columns = ['Change in Loss']
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_loss_ANN_pre_calc_fmnist.tex', bold_rows=True)

In [109]:
NR = pd.read_csv('../../../results/num_removed_ANN_pre_calc_val_mnist.csv', index_col=0)
NR.columns = ['Number of Nodes']
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/num_removed_ANN_pre_calc_val_mnist.tex', bold_rows=True)

In [110]:
A = pd.read_csv('../../../results/change_accuracy_ANN_pre_calc_val_mnist.csv', index_col=0)
A.columns = ['Change in Accuracy']
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_accuracy_ANN_pre_calc_val_mnist.tex', bold_rows=True)

In [111]:
L = pd.read_csv('../../../results/chnage_loss_ANN_pre_calc_val_mnist.csv', index_col=0)
L.columns = ['Change in Loss']
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_loss_ANN_pre_calc_val_mnist.tex', bold_rows=True)

In [112]:
NR = pd.read_csv('../../../results/num_removed_ANN_pre_calc_val_fmnist.csv', index_col=0)
NR.columns = ['Number of Nodes']
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/num_removed_ANN_pre_calc_val_fmnist.tex', bold_rows=True)

In [113]:
A = pd.read_csv('../../../results/change_accuracy_ANN_pre_calc_val_fmnist.csv', index_col=0)
A.columns = ['Change in Accuracy']
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_accuracy_ANN_pre_calc_val_fmnist.tex', bold_rows=True)

In [114]:
L = pd.read_csv('../../../results/chnage_loss_ANN_pre_calc_val_fmnist.csv', index_col=0)
L.columns = ['Change in Loss']
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_loss_ANN_pre_calc_val_fmnist.tex', bold_rows=True)

In [115]:
NR = pd.read_csv('../../../results/num_removed_MLP_pre_calc_mnist.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/num_removed_MLP_pre_calc_mnist.tex', bold_rows=True)

In [116]:
A = pd.read_csv('../../../results/change_accuracy_MLP_pre_calc_mnist.csv', index_col=0)
A.columns = ['Change in Accuracy']
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_accuracy_MLP_pre_calc_mnist.tex', bold_rows=True)

In [117]:
L = pd.read_csv('../../../results/chnage_loss_MLP_pre_calc_mnist.csv', index_col=0)
L.columns = ['Change in Loss']
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_loss_MLP_pre_calc_mnist.tex', bold_rows=True)

In [118]:
NR = pd.read_csv('../../../results/num_removed_MLP_pre_calc_fmnist.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/num_removed_MLP_pre_calc_fmnist.tex', bold_rows=True)

In [119]:
A = pd.read_csv('../../../results/change_accuracy_MLP_pre_calc_fmnist.csv', index_col=0)
A.columns = ['Change in Accuracy']
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_accuracy_MLP_pre_calc_fmnist.tex', bold_rows=True)

In [120]:
L = pd.read_csv('../../../results/chnage_loss_MLP_pre_calc_fmnist.csv', index_col=0)
L.columns = ['Change in Loss']
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_loss_MLP_pre_calc_fmnist.tex', bold_rows=True)

In [121]:
NR = pd.read_csv('../../../results/num_removed_MLP_pre_calc_val_mnist.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/num_removed_MLP_pre_calc_val_mnist.tex', bold_rows=True)

In [122]:
A = pd.read_csv('../../../results/change_accuracy_MLP_pre_calc_val_mnist.csv', index_col=0)
A.columns = ['Change in Accuracy']
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_accuracy_MLP_pre_calc_val_mnist.tex', bold_rows=True)

In [123]:
L = pd.read_csv('../../../results/chnage_loss_MLP_pre_calc_val_mnist.csv', index_col=0)
L.columns = ['Change in Loss']
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_loss_MLP_pre_calc_val_mnist.tex', bold_rows=True)

In [124]:
NR = pd.read_csv('../../../results/num_removed_MLP_pre_calc_val_fmnist.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/num_removed_MLP_pre_calc_val_fmnist.tex', bold_rows=True)

In [125]:
A = pd.read_csv('../../../results/change_accuracy_MLP_pre_calc_val_fmnist.csv', index_col=0)
A.columns = ['Change in Accuracy']
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_accuracy_MLP_pre_calc_val_fmnist.tex', bold_rows=True)

In [126]:
L = pd.read_csv('../../../results/chnage_loss_MLP_pre_calc_val_fmnist.csv', index_col=0)
L.columns = ['Change in Loss']
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_loss_MLP_pre_calc_val_fmnist.tex', bold_rows=True)

In [127]:
NR = pd.read_csv('../../../results/num_removed_CNN_pre_calc_mnist.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/num_removed_CNN_pre_calc_mnist.tex', bold_rows=True)

In [128]:
A = pd.read_csv('../../../results/change_accuracy_CNN_pre_calc_mnist.csv', index_col=0)
A.columns = ['Change in Accuracy']
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_accuracy_CNN_pre_calc_mnist.tex', bold_rows=True)

In [129]:
L = pd.read_csv('../../../results/chnage_loss_CNN_pre_calc_mnist.csv', index_col=0)
L.columns = ['Change in Loss']
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_loss_CNN_pre_calc_mnist.tex', bold_rows=True)

In [130]:
NR = pd.read_csv('../../../results/num_removed_CNN_pre_calc_fmnist.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/num_removed_CNN_pre_calc_fmnist.tex', bold_rows=True)

In [131]:
A = pd.read_csv('../../../results/change_accuracy_CNN_pre_calc_fmnist.csv', index_col=0)
A.columns = ['Change in Accuracy']
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_accuracy_CNN_pre_calc_fmnist.tex', bold_rows=True)

In [132]:
L = pd.read_csv('../../../results/chnage_loss_CNN_pre_calc_fmnist.csv', index_col=0)
L.columns = ['Change in Loss']
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_loss_CNN_pre_calc_fmnist.tex', bold_rows=True)

In [133]:
NR = pd.read_csv('../../../results/num_removed_CNN_pre_calc_cifar.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/num_removed_CNN_pre_calc_cifar.tex', bold_rows=True)

In [134]:
A = pd.read_csv('../../../results/change_accuracy_CNN_pre_calc_cifar.csv', index_col=0)
A.columns = ['Change in Accuracy']
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_accuracy_CNN_pre_calc_cifar.tex', bold_rows=True)

In [135]:
L = pd.read_csv('../../../results/chnage_loss_CNN_pre_calc_cifar.csv', index_col=0)
L.columns = ['Change in Loss']
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_loss_CNN_pre_calc_cifar.tex', bold_rows=True)

In [136]:
NR = pd.read_csv('../../../results/num_removed_CNN_pre_calc_val_mnist.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/num_removed_CNN_pre_calc_val_mnist.tex', bold_rows=True)

In [137]:
A = pd.read_csv('../../../results/change_accuracy_CNN_pre_calc_val_mnist.csv', index_col=0)
A.columns = ['Change in Accuracy']
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_accuracy_CNN_pre_calc_val_mnist.tex', bold_rows=True)

In [138]:
L = pd.read_csv('../../../results/chnage_loss_CNN_pre_calc_val_mnist.csv', index_col=0)
L.columns = ['Change in Loss']
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_loss_CNN_pre_calc_val_mnist.tex', bold_rows=True)

In [139]:
NR = pd.read_csv('../../../results/num_removed_CNN_pre_calc_val_fmnist.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/num_removed_CNN_pre_calc_val_fmnist.tex', bold_rows=True)

In [140]:
A = pd.read_csv('../../../results/change_accuracy_CNN_pre_calc_val_fmnist.csv', index_col=0)
A.columns = ['Change in Accuracy']
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_accuracy_CNN_pre_calc_val_fmnist.tex', bold_rows=True)

In [141]:
L = pd.read_csv('../../../results/chnage_loss_CNN_pre_calc_val_fmnist.csv', index_col=0)
L.columns = ['Change in Loss']
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_loss_CNN_pre_calc_val_fmnist.tex', bold_rows=True)

In [142]:
NR = pd.read_csv('../../../results/num_removed_CNN_pre_calc_val_cifar.csv', index_col=0)
NR.describe().drop(['count']).round(2).to_latex('../../../latex/tables/num_removed_CNN_pre_calc_val_cifar.tex', bold_rows=True)

In [143]:
A = pd.read_csv('../../../results/change_accuracy_CNN_pre_calc_val_cifar.csv', index_col=0)
A.columns = ['Change in Accuracy']
A.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_accuracy_CNN_pre_calc_val_cifar.tex', bold_rows=True)

In [144]:
L = pd.read_csv('../../../results/chnage_loss_CNN_pre_calc_val_cifar.csv', index_col=0)
L.columns = ['Change in Loss']
L.describe().drop(['count']).round(4).to_latex('../../../latex/tables/change_loss_CNN_pre_calc_val_cifar.tex', bold_rows=True)